%icon-common {
	background: url("../img/icon.svg") no-repeat;
	background-size: 100% auto !important;
}

.icon-cad-curve {
	@extend %icon-common;
	background-position: 0 0;
}

.icon-cad-curve-bezier-cubic {
	@extend %icon-common;
	background-position: 0 0.7575757575757576%;
}

.icon-cad-curve-bezier-quadratic {
	@extend %icon-common;
	background-position: 0 1.5151515151515151%;
}

.icon-cad-curve-spline {
	@extend %icon-common;
	background-position: 0 2.272727272727273%;
}

.icon-cad-form {
	@extend %icon-common;
	background-position: 0 3.0303030303030303%;
}

.icon-cad-form-circle {
	@extend %icon-common;
	background-position: 0 3.787878787878788%;
}

.icon-cad-form-polygon {
	@extend %icon-common;
	background-position: 0 4.545454545454546%;
}

.icon-cad-form-rectangle {
	@extend %icon-common;
	background-position: 0 5.303030303030303%;
}

.icon-cad-grid-off {
	@extend %icon-common;
	background-position: 0 6.0606060606060606%;
}

.icon-cad-grid-on {
	@extend %icon-common;
	background-position: 0 6.818181818181818%;
}

.icon-cad-grid-ortho {
	@extend %icon-common;
	background-position: 0 7.575757575757576%;
}

.icon-cad-grid-snap {
	@extend %icon-common;
	background-position: 0 8.333333333333334%;
}

.icon-cad-history {
	@extend %icon-common;
	background-position: 0 9.090909090909092%;
}

.icon-cad-layer {
	@extend %icon-common;
	background-position: 0 9.848484848484848%;
}

.icon-cad-object-copy {
	@extend %icon-common;
	background-position: 0 10.606060606060606%;
}

.icon-cad-object-edit {
	@extend %icon-common;
	background-position: 0 11.363636363636363%;
}

.icon-cad-object-fit {
	@extend %icon-common;
	background-position: 0 12.121212121212121%;
}

.icon-cad-object-group {
	@extend %icon-common;
	background-position: 0 12.878787878787879%;
}

.icon-cad-object-mirror {
	@extend %icon-common;
	background-position: 0 13.636363636363637%;
}

.icon-cad-object-move {
	@extend %icon-common;
	background-position: 0 14.393939393939394%;
}

.icon-cad-object-remove {
	@extend %icon-common;
	background-position: 0 15.151515151515152%;
}

.icon-cad-object-rotate {
	@extend %icon-common;
	background-position: 0 15.909090909090908%;
}

.icon-cad-object-scale {
	@extend %icon-common;
	background-position: 0 16.666666666666668%;
}

.icon-cad-object-ungroup {
	@extend %icon-common;
	background-position: 0 17.424242424242426%;
}

.icon-cad-revision {
	@extend %icon-common;
	background-position: 0 18.181818181818183%;
}

.icon-cad-trace {
	@extend %icon-common;
	background-position: 0 18.939393939393938%;
}

.icon-cad-trace-arc {
	@extend %icon-common;
	background-position: 0 19.696969696969695%;
}

.icon-cad-trace-line {
	@extend %icon-common;
	background-position: 0 20.454545454545453%;
}

.icon-cad-trace-polyline {
	@extend %icon-common;
	background-position: 0 21.21212121212121%;
}

.icon-cad-utility {
	@extend %icon-common;
	background-position: 0 21.96969696969697%;
}

.icon-cad-utility-annotation {
	@extend %icon-common;
	background-position: 0 22.727272727272727%;
}

.icon-cad-utility-quote {
	@extend %icon-common;
	background-position: 0 23.484848484848484%;
}

.icon-cad-utility-ruler {
	@extend %icon-common;
	background-position: 0 24.242424242424242%;
}

.icon-cam-history {
	@extend %icon-common;
	background-position: 0 25%;
}

.icon-cam-material {
	@extend %icon-common;
	background-position: 0 25.757575757575758%;
}

.icon-cam-milling {
	@extend %icon-common;
	background-position: 0 26.515151515151516%;
}

.icon-cam-milling-carving {
	@extend %icon-common;
	background-position: 0 27.272727272727273%;
}

.icon-cam-milling-cut {
	@extend %icon-common;
	background-position: 0 28.03030303030303%;
}

.icon-cam-milling-cut-corners {
	@extend %icon-common;
	background-position: 0 28.78787878787879%;
}

.icon-cam-milling-cut-in {
	@extend %icon-common;
	background-position: 0 29.545454545454547%;
}

.icon-cam-milling-cut-out {
	@extend %icon-common;
	background-position: 0 30.303030303030305%;
}

.icon-cam-milling-cut-start-point {
	@extend %icon-common;
	background-position: 0 31.060606060606062%;
}

.icon-cam-milling-deepen {
	@extend %icon-common;
	background-position: 0 31.818181818181817%;
}

.icon-cam-milling-drill {
	@extend %icon-common;
	background-position: 0 32.57575757575758%;
}

.icon-cam-milling-engrave {
	@extend %icon-common;
	background-position: 0 33.333333333333336%;
}

.icon-cam-milling-halftone {
	@extend %icon-common;
	background-position: 0 34.09090909090909%;
}

.icon-cam-milling-order {
	@extend %icon-common;
	background-position: 0 34.84848484848485%;
}

.icon-cam-milling-trace {
	@extend %icon-common;
	background-position: 0 35.60606060606061%;
}

.icon-cam-milling-type-cut {
	@extend %icon-common;
	background-position: 0 36.36363636363637%;
}

.icon-cam-milling-type-deepen {
	@extend %icon-common;
	background-position: 0 37.121212121212125%;
}

.icon-cam-milling-type-drill {
	@extend %icon-common;
	background-position: 0 37.878787878787875%;
}

.icon-cam-milling-type-trace {
	@extend %icon-common;
	background-position: 0 38.63636363636363%;
}

.icon-cam-router-assistant {
	@extend %icon-common;
	background-position: 0 39.39393939393939%;
}

.icon-cam-router-calcule {
	@extend %icon-common;
	background-position: 0 40.15151515151515%;
}

.icon-cam-router-export {
	@extend %icon-common;
	background-position: 0 40.90909090909091%;
}

.icon-cam-tool {
	@extend %icon-common;
	background-position: 0 41.666666666666664%;
}

.icon-cam-tool-change {
	@extend %icon-common;
	background-position: 0 42.42424242424242%;
}

.icon-cam-workflow {
	@extend %icon-common;
	background-position: 0 43.18181818181818%;
}

.icon-controller-axis {
	@extend %icon-common;
	background-position: 0 43.93939393939394%;
}

.icon-controller-axis-zero-define {
	@extend %icon-common;
	background-position: 0 44.696969696969695%;
}

.icon-controller-axis-zero-return {
	@extend %icon-common;
	background-position: 0 45.45454545454545%;
}

.icon-controller-command {
	@extend %icon-common;
	background-position: 0 46.21212121212121%;
}

.icon-controller-connection {
	@extend %icon-common;
	background-position: 0 46.96969696969697%;
}

.icon-controller-connection-in {
	@extend %icon-common;
	background-position: 0 47.72727272727273%;
}

.icon-controller-connection-out {
	@extend %icon-common;
	background-position: 0 48.484848484848484%;
}

.icon-controller-control {
	@extend %icon-common;
	background-position: 0 49.24242424242424%;
}

.icon-controller-control-down {
	@extend %icon-common;
	background-position: 0 50%;
}

.icon-controller-control-left {
	@extend %icon-common;
	background-position: 0 50.75757575757576%;
}

.icon-controller-control-move {
	@extend %icon-common;
	background-position: 0 51.515151515151516%;
}

.icon-controller-control-pause {
	@extend %icon-common;
	background-position: 0 52.27272727272727%;
}

.icon-controller-control-right {
	@extend %icon-common;
	background-position: 0 53.03030303030303%;
}

.icon-controller-control-start {
	@extend %icon-common;
	background-position: 0 53.78787878787879%;
}

.icon-controller-control-stop {
	@extend %icon-common;
	background-position: 0 54.54545454545455%;
}

.icon-controller-control-up {
	@extend %icon-common;
	background-position: 0 55.303030303030305%;
}

.icon-controller-device {
	@extend %icon-common;
	background-position: 0 56.06060606060606%;
}

.icon-controller-gcode {
	@extend %icon-common;
	background-position: 0 56.81818181818182%;
}

.icon-controller-probe-collect {
	@extend %icon-common;
	background-position: 0 57.57575757575758%;
}

.icon-controller-probe-mode-level {
	@extend %icon-common;
	background-position: 0 58.333333333333336%;
}

.icon-controller-probe-start {
	@extend %icon-common;
	background-position: 0 59.09090909090909%;
}

.icon-controller-probe-stop {
	@extend %icon-common;
	background-position: 0 59.84848484848485%;
}

.icon-global-button-add {
	@extend %icon-common;
	background-position: 0 60.60606060606061%;
}

.icon-global-button-cancel {
	@extend %icon-common;
	background-position: 0 61.36363636363637%;
}

.icon-global-button-down {
	@extend %icon-common;
	background-position: 0 62.121212121212125%;
}

.icon-global-button-edit {
	@extend %icon-common;
	background-position: 0 62.878787878787875%;
}

.icon-global-button-home {
	@extend %icon-common;
	background-position: 0 63.63636363636363%;
}

.icon-global-button-ok {
	@extend %icon-common;
	background-position: 0 64.39393939393939%;
}

.icon-global-button-ok-white {
	@extend %icon-common;
	background-position: 0 65.15151515151516%;
}

.icon-global-button-refresh {
	@extend %icon-common;
	background-position: 0 65.9090909090909%;
}

.icon-global-button-remove {
	@extend %icon-common;
	background-position: 0 66.66666666666667%;
}

.icon-global-button-save {
	@extend %icon-common;
	background-position: 0 67.42424242424242%;
}

.icon-global-button-search {
	@extend %icon-common;
	background-position: 0 68.18181818181819%;
}

.icon-global-button-setting {
	@extend %icon-common;
	background-position: 0 68.93939393939394%;
}

.icon-global-file {
	@extend %icon-common;
	background-position: 0 69.6969696969697%;
}

.icon-global-file-export {
	@extend %icon-common;
	background-position: 0 70.45454545454545%;
}

.icon-global-file-import {
	@extend %icon-common;
	background-position: 0 71.21212121212122%;
}

.icon-global-file-new {
	@extend %icon-common;
	background-position: 0 71.96969696969697%;
}

.icon-global-file-open {
	@extend %icon-common;
	background-position: 0 72.72727272727273%;
}

.icon-global-social-facebook {
	@extend %icon-common;
	background-position: 0 73.48484848484848%;
}

.icon-global-social-instagram {
	@extend %icon-common;
	background-position: 0 74.24242424242425%;
}

.icon-global-social-pinterest {
	@extend %icon-common;
	background-position: 0 75%;
}

.icon-global-social-youtube {
	@extend %icon-common;
	background-position: 0 75.75757575757575%;
}

.icon-global-user {
	@extend %icon-common;
	background-position: 0 76.51515151515152%;
}

.icon-global-user-add {
	@extend %icon-common;
	background-position: 0 77.27272727272727%;
}

.icon-global-user-group {
	@extend %icon-common;
	background-position: 0 78.03030303030303%;
}

.icon-global-user-incognito {
	@extend %icon-common;
	background-position: 0 78.78787878787878%;
}

.icon-global-user-less {
	@extend %icon-common;
	background-position: 0 79.54545454545455%;
}

.icon-global-user-location {
	@extend %icon-common;
	background-position: 0 80.3030303030303%;
}

.icon-global-user-lock {
	@extend %icon-common;
	background-position: 0 81.06060606060606%;
}

.icon-global-user-unlock {
	@extend %icon-common;
	background-position: 0 81.81818181818181%;
}

.icon-global-view-home {
	@extend %icon-common;
	background-position: 0 82.57575757575758%;
}

.icon-global-view-move {
	@extend %icon-common;
	background-position: 0 83.33333333333333%;
}

.icon-global-view-zoom-minus {
	@extend %icon-common;
	background-position: 0 84.0909090909091%;
}

.icon-global-view-zoom-more {
	@extend %icon-common;
	background-position: 0 84.84848484848484%;
}

.icon-global-window-close {
	@extend %icon-common;
	background-position: 0 85.60606060606061%;
}

.icon-global-window-maximize {
	@extend %icon-common;
	background-position: 0 86.36363636363636%;
}

.icon-global-window-minimize {
	@extend %icon-common;
	background-position: 0 87.12121212121212%;
}

.icon-site-foundation-grid {
	@extend %icon-common;
	background-position: 0 87.87878787878788%;
}

.icon-site-foundation-typography {
	@extend %icon-common;
	background-position: 0 88.63636363636364%;
}

.icon-site-graphic-icon {
	@extend %icon-common;
	background-position: 0 89.39393939393939%;
}

.icon-site-graphic-internationalization {
	@extend %icon-common;
	background-position: 0 90.15151515151516%;
}

.icon-site-graphic-logo {
	@extend %icon-common;
	background-position: 0 90.9090909090909%;
}

.icon-site-learning-group {
	@extend %icon-common;
	background-position: 0 91.66666666666667%;
}

.icon-site-learning-video {
	@extend %icon-common;
	background-position: 0 92.42424242424242%;
}

.icon-site-pages-authenticate {
	@extend %icon-common;
	background-position: 0 93.18181818181819%;
}

.icon-site-pages-error {
	@extend %icon-common;
	background-position: 0 93.93939393939394%;
}

.icon-site-pages-landing {
	@extend %icon-common;
	background-position: 0 94.6969696969697%;
}

.icon-site-pages-plans {
	@extend %icon-common;
	background-position: 0 95.45454545454545%;
}

.icon-site-pages-search {
	@extend %icon-common;
	background-position: 0 96.21212121212122%;
}

.icon-site-shop-bag {
	@extend %icon-common;
	background-position: 0 96.96969696969697%;
}

.icon-site-shop-favorite {
	@extend %icon-common;
	background-position: 0 97.72727272727273%;
}

.icon-site-shop-order-failure {
	@extend %icon-common;
	background-position: 0 98.48484848484848%;
}

.icon-site-shop-order-success {
	@extend %icon-common;
	background-position: 0 99.24242424242425%;
}

.icon-site-start-up {
	@extend %icon-common;
	background-position: 0 100%;
}

