%icon-common {
	background: url("../img/icon.svg") no-repeat;
	background-size: 100% auto !important;
}

.icon-cad-curve {
	@extend %icon-common;
	background-position: 0 0;
}

.icon-cad-curve-bezier-cubic {
	@extend %icon-common;
	background-position: 0 0.7633587786259542%;
}

.icon-cad-curve-bezier-quadratic {
	@extend %icon-common;
	background-position: 0 1.5267175572519085%;
}

.icon-cad-curve-spline {
	@extend %icon-common;
	background-position: 0 2.2900763358778624%;
}

.icon-cad-form {
	@extend %icon-common;
	background-position: 0 3.053435114503817%;
}

.icon-cad-form-circle {
	@extend %icon-common;
	background-position: 0 3.816793893129771%;
}

.icon-cad-form-polygon {
	@extend %icon-common;
	background-position: 0 4.580152671755725%;
}

.icon-cad-form-rectangle {
	@extend %icon-common;
	background-position: 0 5.343511450381679%;
}

.icon-cad-grid-off {
	@extend %icon-common;
	background-position: 0 6.106870229007634%;
}

.icon-cad-grid-on {
	@extend %icon-common;
	background-position: 0 6.870229007633588%;
}

.icon-cad-grid-ortho {
	@extend %icon-common;
	background-position: 0 7.633587786259542%;
}

.icon-cad-grid-snap {
	@extend %icon-common;
	background-position: 0 8.396946564885496%;
}

.icon-cad-history {
	@extend %icon-common;
	background-position: 0 9.16030534351145%;
}

.icon-cad-layer {
	@extend %icon-common;
	background-position: 0 9.923664122137405%;
}

.icon-cad-object-copy {
	@extend %icon-common;
	background-position: 0 10.687022900763358%;
}

.icon-cad-object-edit {
	@extend %icon-common;
	background-position: 0 11.450381679389313%;
}

.icon-cad-object-fit {
	@extend %icon-common;
	background-position: 0 12.213740458015268%;
}

.icon-cad-object-group {
	@extend %icon-common;
	background-position: 0 12.977099236641221%;
}

.icon-cad-object-mirror {
	@extend %icon-common;
	background-position: 0 13.740458015267176%;
}

.icon-cad-object-move {
	@extend %icon-common;
	background-position: 0 14.50381679389313%;
}

.icon-cad-object-remove {
	@extend %icon-common;
	background-position: 0 15.267175572519085%;
}

.icon-cad-object-rotate {
	@extend %icon-common;
	background-position: 0 16.03053435114504%;
}

.icon-cad-object-scale {
	@extend %icon-common;
	background-position: 0 16.793893129770993%;
}

.icon-cad-object-ungroup {
	@extend %icon-common;
	background-position: 0 17.557251908396946%;
}

.icon-cad-revision {
	@extend %icon-common;
	background-position: 0 18.3206106870229%;
}

.icon-cad-trace {
	@extend %icon-common;
	background-position: 0 19.083969465648856%;
}

.icon-cad-trace-arc {
	@extend %icon-common;
	background-position: 0 19.84732824427481%;
}

.icon-cad-trace-line {
	@extend %icon-common;
	background-position: 0 20.610687022900763%;
}

.icon-cad-trace-polyline {
	@extend %icon-common;
	background-position: 0 21.374045801526716%;
}

.icon-cad-utility {
	@extend %icon-common;
	background-position: 0 22.137404580152673%;
}

.icon-cad-utility-annotation {
	@extend %icon-common;
	background-position: 0 22.900763358778626%;
}

.icon-cad-utility-quote {
	@extend %icon-common;
	background-position: 0 23.66412213740458%;
}

.icon-cad-utility-ruler {
	@extend %icon-common;
	background-position: 0 24.427480916030536%;
}

.icon-cam-history {
	@extend %icon-common;
	background-position: 0 25.19083969465649%;
}

.icon-cam-material {
	@extend %icon-common;
	background-position: 0 25.954198473282442%;
}

.icon-cam-milling {
	@extend %icon-common;
	background-position: 0 26.717557251908396%;
}

.icon-cam-milling-carving {
	@extend %icon-common;
	background-position: 0 27.480916030534353%;
}

.icon-cam-milling-cut {
	@extend %icon-common;
	background-position: 0 28.244274809160306%;
}

.icon-cam-milling-cut-corners {
	@extend %icon-common;
	background-position: 0 29.00763358778626%;
}

.icon-cam-milling-cut-in {
	@extend %icon-common;
	background-position: 0 29.770992366412212%;
}

.icon-cam-milling-cut-out {
	@extend %icon-common;
	background-position: 0 30.53435114503817%;
}

.icon-cam-milling-cut-start-point {
	@extend %icon-common;
	background-position: 0 31.297709923664122%;
}

.icon-cam-milling-deepen {
	@extend %icon-common;
	background-position: 0 32.06106870229008%;
}

.icon-cam-milling-drill {
	@extend %icon-common;
	background-position: 0 32.82442748091603%;
}

.icon-cam-milling-engrave {
	@extend %icon-common;
	background-position: 0 33.587786259541986%;
}

.icon-cam-milling-halftone {
	@extend %icon-common;
	background-position: 0 34.35114503816794%;
}

.icon-cam-milling-order {
	@extend %icon-common;
	background-position: 0 35.11450381679389%;
}

.icon-cam-milling-trace {
	@extend %icon-common;
	background-position: 0 35.87786259541985%;
}

.icon-cam-milling-type-cut {
	@extend %icon-common;
	background-position: 0 36.6412213740458%;
}

.icon-cam-milling-type-deepen {
	@extend %icon-common;
	background-position: 0 37.404580152671755%;
}

.icon-cam-milling-type-drill {
	@extend %icon-common;
	background-position: 0 38.16793893129771%;
}

.icon-cam-milling-type-trace {
	@extend %icon-common;
	background-position: 0 38.93129770992366%;
}

.icon-cam-router-assistant {
	@extend %icon-common;
	background-position: 0 39.69465648854962%;
}

.icon-cam-router-calcule {
	@extend %icon-common;
	background-position: 0 40.458015267175576%;
}

.icon-cam-router-export {
	@extend %icon-common;
	background-position: 0 41.221374045801525%;
}

.icon-cam-tool {
	@extend %icon-common;
	background-position: 0 41.98473282442748%;
}

.icon-cam-tool-change {
	@extend %icon-common;
	background-position: 0 42.74809160305343%;
}

.icon-cam-workflow {
	@extend %icon-common;
	background-position: 0 43.51145038167939%;
}

.icon-controller-axis {
	@extend %icon-common;
	background-position: 0 44.274809160305345%;
}

.icon-controller-axis-zero-define {
	@extend %icon-common;
	background-position: 0 45.038167938931295%;
}

.icon-controller-axis-zero-return {
	@extend %icon-common;
	background-position: 0 45.80152671755725%;
}

.icon-controller-command {
	@extend %icon-common;
	background-position: 0 46.56488549618321%;
}

.icon-controller-connection {
	@extend %icon-common;
	background-position: 0 47.32824427480916%;
}

.icon-controller-connection-in {
	@extend %icon-common;
	background-position: 0 48.091603053435115%;
}

.icon-controller-connection-out {
	@extend %icon-common;
	background-position: 0 48.85496183206107%;
}

.icon-controller-control {
	@extend %icon-common;
	background-position: 0 49.61832061068702%;
}

.icon-controller-control-down {
	@extend %icon-common;
	background-position: 0 50.38167938931298%;
}

.icon-controller-control-left {
	@extend %icon-common;
	background-position: 0 51.14503816793893%;
}

.icon-controller-control-move {
	@extend %icon-common;
	background-position: 0 51.908396946564885%;
}

.icon-controller-control-pause {
	@extend %icon-common;
	background-position: 0 52.67175572519084%;
}

.icon-controller-control-right {
	@extend %icon-common;
	background-position: 0 53.43511450381679%;
}

.icon-controller-control-start {
	@extend %icon-common;
	background-position: 0 54.19847328244275%;
}

.icon-controller-control-stop {
	@extend %icon-common;
	background-position: 0 54.961832061068705%;
}

.icon-controller-control-up {
	@extend %icon-common;
	background-position: 0 55.725190839694655%;
}

.icon-controller-device {
	@extend %icon-common;
	background-position: 0 56.48854961832061%;
}

.icon-controller-gcode {
	@extend %icon-common;
	background-position: 0 57.25190839694657%;
}

.icon-controller-probe-collect {
	@extend %icon-common;
	background-position: 0 58.01526717557252%;
}

.icon-controller-probe-mode-level {
	@extend %icon-common;
	background-position: 0 58.778625954198475%;
}

.icon-controller-probe-start {
	@extend %icon-common;
	background-position: 0 59.541984732824424%;
}

.icon-controller-probe-stop {
	@extend %icon-common;
	background-position: 0 60.30534351145038%;
}

.icon-global-button-add {
	@extend %icon-common;
	background-position: 0 61.06870229007634%;
}

.icon-global-button-cancel {
	@extend %icon-common;
	background-position: 0 61.83206106870229%;
}

.icon-global-button-down {
	@extend %icon-common;
	background-position: 0 62.595419847328245%;
}

.icon-global-button-edit {
	@extend %icon-common;
	background-position: 0 63.3587786259542%;
}

.icon-global-button-home {
	@extend %icon-common;
	background-position: 0 64.12213740458016%;
}

.icon-global-button-ok {
	@extend %icon-common;
	background-position: 0 64.8854961832061%;
}

.icon-global-button-ok-white {
	@extend %icon-common;
	background-position: 0 65.64885496183206%;
}

.icon-global-button-refresh {
	@extend %icon-common;
	background-position: 0 66.41221374045801%;
}

.icon-global-button-remove {
	@extend %icon-common;
	background-position: 0 67.17557251908397%;
}

.icon-global-button-save {
	@extend %icon-common;
	background-position: 0 67.93893129770993%;
}

.icon-global-button-search {
	@extend %icon-common;
	background-position: 0 68.70229007633588%;
}

.icon-global-button-setting {
	@extend %icon-common;
	background-position: 0 69.46564885496183%;
}

.icon-global-file {
	@extend %icon-common;
	background-position: 0 70.22900763358778%;
}

.icon-global-file-export {
	@extend %icon-common;
	background-position: 0 70.99236641221374%;
}

.icon-global-file-import {
	@extend %icon-common;
	background-position: 0 71.7557251908397%;
}

.icon-global-file-new {
	@extend %icon-common;
	background-position: 0 72.51908396946565%;
}

.icon-global-file-open {
	@extend %icon-common;
	background-position: 0 73.2824427480916%;
}

.icon-global-social-facebook {
	@extend %icon-common;
	background-position: 0 74.04580152671755%;
}

.icon-global-social-instagram {
	@extend %icon-common;
	background-position: 0 74.80916030534351%;
}

.icon-global-social-pinterest {
	@extend %icon-common;
	background-position: 0 75.57251908396947%;
}

.icon-global-social-youtube {
	@extend %icon-common;
	background-position: 0 76.33587786259542%;
}

.icon-global-user {
	@extend %icon-common;
	background-position: 0 77.09923664122137%;
}

.icon-global-user-add {
	@extend %icon-common;
	background-position: 0 77.86259541984732%;
}

.icon-global-user-group {
	@extend %icon-common;
	background-position: 0 78.62595419847328%;
}

.icon-global-user-incognito {
	@extend %icon-common;
	background-position: 0 79.38931297709924%;
}

.icon-global-user-less {
	@extend %icon-common;
	background-position: 0 80.1526717557252%;
}

.icon-global-user-location {
	@extend %icon-common;
	background-position: 0 80.91603053435115%;
}

.icon-global-user-lock {
	@extend %icon-common;
	background-position: 0 81.6793893129771%;
}

.icon-global-user-unlock {
	@extend %icon-common;
	background-position: 0 82.44274809160305%;
}

.icon-global-view-home {
	@extend %icon-common;
	background-position: 0 83.20610687022901%;
}

.icon-global-view-move {
	@extend %icon-common;
	background-position: 0 83.96946564885496%;
}

.icon-global-view-zoom-minus {
	@extend %icon-common;
	background-position: 0 84.73282442748092%;
}

.icon-global-view-zoom-more {
	@extend %icon-common;
	background-position: 0 85.49618320610686%;
}

.icon-global-window-close {
	@extend %icon-common;
	background-position: 0 86.25954198473282%;
}

.icon-global-window-maximize {
	@extend %icon-common;
	background-position: 0 87.02290076335878%;
}

.icon-global-window-minimize {
	@extend %icon-common;
	background-position: 0 87.78625954198473%;
}

.icon-site-foundation-grid {
	@extend %icon-common;
	background-position: 0 88.54961832061069%;
}

.icon-site-foundation-typography {
	@extend %icon-common;
	background-position: 0 89.31297709923665%;
}

.icon-site-graphic-icon {
	@extend %icon-common;
	background-position: 0 90.07633587786259%;
}

.icon-site-graphic-internationalization {
	@extend %icon-common;
	background-position: 0 90.83969465648855%;
}

.icon-site-graphic-logo {
	@extend %icon-common;
	background-position: 0 91.6030534351145%;
}

.icon-site-learning-group {
	@extend %icon-common;
	background-position: 0 92.36641221374046%;
}

.icon-site-learning-video {
	@extend %icon-common;
	background-position: 0 93.12977099236642%;
}

.icon-site-pages-authenticate {
	@extend %icon-common;
	background-position: 0 93.89312977099236%;
}

.icon-site-pages-error {
	@extend %icon-common;
	background-position: 0 94.65648854961832%;
}

.icon-site-pages-landing {
	@extend %icon-common;
	background-position: 0 95.41984732824427%;
}

.icon-site-pages-search {
	@extend %icon-common;
	background-position: 0 96.18320610687023%;
}

.icon-site-shop-bag {
	@extend %icon-common;
	background-position: 0 96.94656488549619%;
}

.icon-site-shop-favorite {
	@extend %icon-common;
	background-position: 0 97.70992366412214%;
}

.icon-site-shop-order-failure {
	@extend %icon-common;
	background-position: 0 98.47328244274809%;
}

.icon-site-shop-order-success {
	@extend %icon-common;
	background-position: 0 99.23664122137404%;
}

.icon-site-start-up {
	@extend %icon-common;
	background-position: 0 100%;
}

