%icon-common {
	background: url("../img/icon.svg") no-repeat;
	background-size: 100% auto !important;
}

.icon-cad-curve {
	@extend %icon-common;
	background-position: 0 0;
}

.icon-cad-curve-bezier-cubic {
	@extend %icon-common;
	background-position: 0 0.7692307692307693%;
}

.icon-cad-curve-bezier-quadratic {
	@extend %icon-common;
	background-position: 0 1.5384615384615385%;
}

.icon-cad-curve-spline {
	@extend %icon-common;
	background-position: 0 2.3076923076923075%;
}

.icon-cad-form {
	@extend %icon-common;
	background-position: 0 3.076923076923077%;
}

.icon-cad-form-circle {
	@extend %icon-common;
	background-position: 0 3.8461538461538463%;
}

.icon-cad-form-polygon {
	@extend %icon-common;
	background-position: 0 4.615384615384615%;
}

.icon-cad-form-rectangle {
	@extend %icon-common;
	background-position: 0 5.384615384615385%;
}

.icon-cad-grid-off {
	@extend %icon-common;
	background-position: 0 6.153846153846154%;
}

.icon-cad-grid-on {
	@extend %icon-common;
	background-position: 0 6.923076923076923%;
}

.icon-cad-grid-ortho {
	@extend %icon-common;
	background-position: 0 7.6923076923076925%;
}

.icon-cad-grid-snap {
	@extend %icon-common;
	background-position: 0 8.461538461538462%;
}

.icon-cad-history {
	@extend %icon-common;
	background-position: 0 9.23076923076923%;
}

.icon-cad-layer {
	@extend %icon-common;
	background-position: 0 10%;
}

.icon-cad-object-copy {
	@extend %icon-common;
	background-position: 0 10.76923076923077%;
}

.icon-cad-object-edit {
	@extend %icon-common;
	background-position: 0 11.538461538461538%;
}

.icon-cad-object-fit {
	@extend %icon-common;
	background-position: 0 12.307692307692308%;
}

.icon-cad-object-group {
	@extend %icon-common;
	background-position: 0 13.076923076923077%;
}

.icon-cad-object-mirror {
	@extend %icon-common;
	background-position: 0 13.846153846153847%;
}

.icon-cad-object-move {
	@extend %icon-common;
	background-position: 0 14.615384615384615%;
}

.icon-cad-object-remove {
	@extend %icon-common;
	background-position: 0 15.384615384615385%;
}

.icon-cad-object-rotate {
	@extend %icon-common;
	background-position: 0 16.153846153846153%;
}

.icon-cad-object-scale {
	@extend %icon-common;
	background-position: 0 16.923076923076923%;
}

.icon-cad-object-ungroup {
	@extend %icon-common;
	background-position: 0 17.692307692307693%;
}

.icon-cad-revision {
	@extend %icon-common;
	background-position: 0 18.46153846153846%;
}

.icon-cad-trace {
	@extend %icon-common;
	background-position: 0 19.23076923076923%;
}

.icon-cad-trace-arc {
	@extend %icon-common;
	background-position: 0 20%;
}

.icon-cad-trace-line {
	@extend %icon-common;
	background-position: 0 20.76923076923077%;
}

.icon-cad-trace-polyline {
	@extend %icon-common;
	background-position: 0 21.53846153846154%;
}

.icon-cad-utility {
	@extend %icon-common;
	background-position: 0 22.307692307692307%;
}

.icon-cad-utility-annotation {
	@extend %icon-common;
	background-position: 0 23.076923076923077%;
}

.icon-cad-utility-quote {
	@extend %icon-common;
	background-position: 0 23.846153846153847%;
}

.icon-cad-utility-ruler {
	@extend %icon-common;
	background-position: 0 24.615384615384617%;
}

.icon-cam-history {
	@extend %icon-common;
	background-position: 0 25.384615384615383%;
}

.icon-cam-material {
	@extend %icon-common;
	background-position: 0 26.153846153846153%;
}

.icon-cam-milling {
	@extend %icon-common;
	background-position: 0 26.923076923076923%;
}

.icon-cam-milling-carving {
	@extend %icon-common;
	background-position: 0 27.692307692307693%;
}

.icon-cam-milling-cut {
	@extend %icon-common;
	background-position: 0 28.46153846153846%;
}

.icon-cam-milling-cut-corners {
	@extend %icon-common;
	background-position: 0 29.23076923076923%;
}

.icon-cam-milling-cut-in {
	@extend %icon-common;
	background-position: 0 30%;
}

.icon-cam-milling-cut-out {
	@extend %icon-common;
	background-position: 0 30.76923076923077%;
}

.icon-cam-milling-cut-start-point {
	@extend %icon-common;
	background-position: 0 31.53846153846154%;
}

.icon-cam-milling-deepen {
	@extend %icon-common;
	background-position: 0 32.30769230769231%;
}

.icon-cam-milling-drill {
	@extend %icon-common;
	background-position: 0 33.07692307692308%;
}

.icon-cam-milling-engrave {
	@extend %icon-common;
	background-position: 0 33.84615384615385%;
}

.icon-cam-milling-halftone {
	@extend %icon-common;
	background-position: 0 34.61538461538461%;
}

.icon-cam-milling-order {
	@extend %icon-common;
	background-position: 0 35.38461538461539%;
}

.icon-cam-milling-trace {
	@extend %icon-common;
	background-position: 0 36.15384615384615%;
}

.icon-cam-milling-type-cut {
	@extend %icon-common;
	background-position: 0 36.92307692307692%;
}

.icon-cam-milling-type-deepen {
	@extend %icon-common;
	background-position: 0 37.69230769230769%;
}

.icon-cam-milling-type-drill {
	@extend %icon-common;
	background-position: 0 38.46153846153846%;
}

.icon-cam-milling-type-trace {
	@extend %icon-common;
	background-position: 0 39.23076923076923%;
}

.icon-cam-router-assistant {
	@extend %icon-common;
	background-position: 0 40%;
}

.icon-cam-router-calcule {
	@extend %icon-common;
	background-position: 0 40.76923076923077%;
}

.icon-cam-router-export {
	@extend %icon-common;
	background-position: 0 41.53846153846154%;
}

.icon-cam-tool {
	@extend %icon-common;
	background-position: 0 42.30769230769231%;
}

.icon-cam-tool-change {
	@extend %icon-common;
	background-position: 0 43.07692307692308%;
}

.icon-cam-workflow {
	@extend %icon-common;
	background-position: 0 43.84615384615385%;
}

.icon-controller-axis {
	@extend %icon-common;
	background-position: 0 44.61538461538461%;
}

.icon-controller-axis-zero-define {
	@extend %icon-common;
	background-position: 0 45.38461538461539%;
}

.icon-controller-axis-zero-return {
	@extend %icon-common;
	background-position: 0 46.15384615384615%;
}

.icon-controller-command {
	@extend %icon-common;
	background-position: 0 46.92307692307692%;
}

.icon-controller-connection {
	@extend %icon-common;
	background-position: 0 47.69230769230769%;
}

.icon-controller-connection-in {
	@extend %icon-common;
	background-position: 0 48.46153846153846%;
}

.icon-controller-connection-out {
	@extend %icon-common;
	background-position: 0 49.23076923076923%;
}

.icon-controller-control {
	@extend %icon-common;
	background-position: 0 50%;
}

.icon-controller-control-down {
	@extend %icon-common;
	background-position: 0 50.76923076923077%;
}

.icon-controller-control-left {
	@extend %icon-common;
	background-position: 0 51.53846153846154%;
}

.icon-controller-control-move {
	@extend %icon-common;
	background-position: 0 52.30769230769231%;
}

.icon-controller-control-pause {
	@extend %icon-common;
	background-position: 0 53.07692307692308%;
}

.icon-controller-control-right {
	@extend %icon-common;
	background-position: 0 53.84615384615385%;
}

.icon-controller-control-start {
	@extend %icon-common;
	background-position: 0 54.61538461538461%;
}

.icon-controller-control-stop {
	@extend %icon-common;
	background-position: 0 55.38461538461539%;
}

.icon-controller-control-up {
	@extend %icon-common;
	background-position: 0 56.15384615384615%;
}

.icon-controller-device {
	@extend %icon-common;
	background-position: 0 56.92307692307692%;
}

.icon-controller-gcode {
	@extend %icon-common;
	background-position: 0 57.69230769230769%;
}

.icon-controller-probe-collect {
	@extend %icon-common;
	background-position: 0 58.46153846153846%;
}

.icon-controller-probe-mode-level {
	@extend %icon-common;
	background-position: 0 59.23076923076923%;
}

.icon-controller-probe-start {
	@extend %icon-common;
	background-position: 0 60%;
}

.icon-controller-probe-stop {
	@extend %icon-common;
	background-position: 0 60.76923076923077%;
}

.icon-global-button-add {
	@extend %icon-common;
	background-position: 0 61.53846153846154%;
}

.icon-global-button-cancel {
	@extend %icon-common;
	background-position: 0 62.30769230769231%;
}

.icon-global-button-down {
	@extend %icon-common;
	background-position: 0 63.07692307692308%;
}

.icon-global-button-edit {
	@extend %icon-common;
	background-position: 0 63.84615384615385%;
}

.icon-global-button-ok {
	@extend %icon-common;
	background-position: 0 64.61538461538461%;
}

.icon-global-button-ok-white {
	@extend %icon-common;
	background-position: 0 65.38461538461539%;
}

.icon-global-button-refresh {
	@extend %icon-common;
	background-position: 0 66.15384615384616%;
}

.icon-global-button-remove {
	@extend %icon-common;
	background-position: 0 66.92307692307692%;
}

.icon-global-button-save {
	@extend %icon-common;
	background-position: 0 67.6923076923077%;
}

.icon-global-button-search {
	@extend %icon-common;
	background-position: 0 68.46153846153847%;
}

.icon-global-button-setting {
	@extend %icon-common;
	background-position: 0 69.23076923076923%;
}

.icon-global-file {
	@extend %icon-common;
	background-position: 0 70%;
}

.icon-global-file-export {
	@extend %icon-common;
	background-position: 0 70.76923076923077%;
}

.icon-global-file-import {
	@extend %icon-common;
	background-position: 0 71.53846153846153%;
}

.icon-global-file-new {
	@extend %icon-common;
	background-position: 0 72.3076923076923%;
}

.icon-global-file-open {
	@extend %icon-common;
	background-position: 0 73.07692307692308%;
}

.icon-global-social-facebook {
	@extend %icon-common;
	background-position: 0 73.84615384615384%;
}

.icon-global-social-instagram {
	@extend %icon-common;
	background-position: 0 74.61538461538461%;
}

.icon-global-social-pinterest {
	@extend %icon-common;
	background-position: 0 75.38461538461539%;
}

.icon-global-social-youtube {
	@extend %icon-common;
	background-position: 0 76.15384615384616%;
}

.icon-global-user {
	@extend %icon-common;
	background-position: 0 76.92307692307692%;
}

.icon-global-user-add {
	@extend %icon-common;
	background-position: 0 77.6923076923077%;
}

.icon-global-user-group {
	@extend %icon-common;
	background-position: 0 78.46153846153847%;
}

.icon-global-user-incognito {
	@extend %icon-common;
	background-position: 0 79.23076923076923%;
}

.icon-global-user-less {
	@extend %icon-common;
	background-position: 0 80%;
}

.icon-global-user-location {
	@extend %icon-common;
	background-position: 0 80.76923076923077%;
}

.icon-global-user-lock {
	@extend %icon-common;
	background-position: 0 81.53846153846153%;
}

.icon-global-user-unlock {
	@extend %icon-common;
	background-position: 0 82.3076923076923%;
}

.icon-global-view-home {
	@extend %icon-common;
	background-position: 0 83.07692307692308%;
}

.icon-global-view-move {
	@extend %icon-common;
	background-position: 0 83.84615384615384%;
}

.icon-global-view-zoom-minus {
	@extend %icon-common;
	background-position: 0 84.61538461538461%;
}

.icon-global-view-zoom-more {
	@extend %icon-common;
	background-position: 0 85.38461538461539%;
}

.icon-global-window-close {
	@extend %icon-common;
	background-position: 0 86.15384615384616%;
}

.icon-global-window-maximize {
	@extend %icon-common;
	background-position: 0 86.92307692307692%;
}

.icon-global-window-minimize {
	@extend %icon-common;
	background-position: 0 87.6923076923077%;
}

.icon-site-foundation-grid {
	@extend %icon-common;
	background-position: 0 88.46153846153847%;
}

.icon-site-foundation-typography {
	@extend %icon-common;
	background-position: 0 89.23076923076923%;
}

.icon-site-graphic-icon {
	@extend %icon-common;
	background-position: 0 90%;
}

.icon-site-graphic-internationalization {
	@extend %icon-common;
	background-position: 0 90.76923076923077%;
}

.icon-site-graphic-logo {
	@extend %icon-common;
	background-position: 0 91.53846153846153%;
}

.icon-site-learning-group {
	@extend %icon-common;
	background-position: 0 92.3076923076923%;
}

.icon-site-learning-video {
	@extend %icon-common;
	background-position: 0 93.07692307692308%;
}

.icon-site-pages-authenticate {
	@extend %icon-common;
	background-position: 0 93.84615384615384%;
}

.icon-site-pages-error {
	@extend %icon-common;
	background-position: 0 94.61538461538461%;
}

.icon-site-pages-landing {
	@extend %icon-common;
	background-position: 0 95.38461538461539%;
}

.icon-site-pages-search {
	@extend %icon-common;
	background-position: 0 96.15384615384616%;
}

.icon-site-shop-bag {
	@extend %icon-common;
	background-position: 0 96.92307692307692%;
}

.icon-site-shop-favorite {
	@extend %icon-common;
	background-position: 0 97.6923076923077%;
}

.icon-site-shop-order-failure {
	@extend %icon-common;
	background-position: 0 98.46153846153847%;
}

.icon-site-shop-order-success {
	@extend %icon-common;
	background-position: 0 99.23076923076923%;
}

.icon-site-start-up {
	@extend %icon-common;
	background-position: 0 100%;
}

