{% extends "base.njk" %} {% set pageTitle = "Layout" %} {% set urlHeader = "layout" %} {% block content %}

<div class="grid small">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/layout/index.html">Layout</a>
                </h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-global-button-down icon-20 cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    <li>
                        <a href="#header">Header</a>
                    </li>
                    <li>
                        <a href="#footer">Footer</a>
                    </li>
                    <li>
                        <a href="#navigation">Navigation</a>
                    </li>
                </ul>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>

        </div>
    </div>

    <div class="row">
        <div class="column-12">

            <h3>
                <a id="header" class="mark" href="#header">Header</a>
            </h3>

            <h5>Site</h5>
            {% include "partials/header.njk" %}

            <br>

            <h3>
                <a id="footer" class="mark" href="#footer">Footer</a>
            </h3>
            {% include "partials/footer.njk" %}


            <h3>
                <a id="navigation" class="mark" href="#navigation">Navigation</a>
            </h3>

            <h5>Section</h5>

            <nav class="nav-section">
                <ul>
                    <li>
                        <a href="/graphic/icon.html">
                            <i class="icon-nav-cad"></i>
                            <span>Item 01</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 02</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 03</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 04</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 05</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 06</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphic/logo.html">
                            <i class="icon-nav-cam"></i>
                            <span>Item 07</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <h5>Menu</h5>

            <div class="nav-menu">

                <h3>
                    <a href="#">Item Menu</a>
                </h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-global-button-down icon-20 cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    <li>
                        <a href="#">Item 01</a>
                    </li>
                    <li>
                        <a href="#">Item 02</a>
                    </li>
                    <li>
                        <a href="#">Item 03</a>
                    </li>
                    <li>
                        <a href="#">Item 04</a>
                    </li>
                    <li>
                        <a href="#">Item 05</a>
                    </li>
                    <li>
                        <a href="#">Item 06</a>
                    </li>
                    <li>
                        <a href="#">Item 07</a>
                    </li>
                </ul>

            </div>

            <br>
            <br>

        </div>
    </div>

</div>



{% endblock %}