{% extends "base.njk" %}


{% set pageTitle = "Layout" %}
{% set urlHeader = "layout" %}


{% block content %}

    <div class="grid w-840">

        <div class="row">
            <div class="column-12">

                <div class="nav-self">
                    <div class="left">
                        <h3><a href="/page/layout/grid.html">Layout</a></h3>

                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <a href="#headings">Header</a>
                            </li>
                            <li>
                                <a href="#paragraphs">Footer</a>
                            </li>
                            <li>
                                <a href="#quotes">Navigation</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <p>
                    Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                    The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
                </p>

            </div>
        </div>

       
    </div>



{% endblock %}




