{% extends "base.njk" %} {% set pageTitle = "Colors • Foundation" %} {% set urlHeader = "foundation" %} {% block content
%}

<div class="grid small">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/foundation/index.html">Colors</a>
                </h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-global-button-down icon-20 cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    {#<li>
                        <a href="#headings">Headings</a>
                    </li>#}
                </ul>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading),
                and letter-spacing (tracking), and adjusting the space between pairs of letters. The term typography is also
                applied to the style, arrangement, and appearance of the letters, numbers, and symbols created by the process.<sub><a href="https://en.wikipedia.org/wiki/Typography" target="_blank">wikipedia</a></sup> 
            </p>

        </div>
    </div>

    <div class="row">
        <div class="column-12">

            <h3>
                <a id="headings" class="mark" href="#headings">Headings</a>
            </h3>
            <p>
                Use h1-h6 tags to define headers and class="title" for the title, which is suitable for the most important inscriptions, for example, in the hero or covers.
           </p>

            <div class="example">


            </div>

        </div>

    
    </div>

</div>



{% endblock %}