{% extends "base.njk" %} 

{% set pageTitle = "Foundation" %} 
{% set urlHeader = "foundation" %} 

{% block content %}


<nav class="nav-section">
    <ul>
        <li>
            <a href="/foundation/grid.html">
                <i class="icon-nav-cad"></i>
                <span>Grid</span>
            </a>
        </li>
        <li>
            <a href="/foundation/typography.html">
                <i class="icon-nav-cam"></i>
                <span>Typography</span>
            </a>
        </li>
    </ul>
</nav>

<div class="grid w-840">

    <h1>Foundation</h1>


</div>



{% endblock %}