{% extends "base.njk" %} 

{% set pageTitle = "Foundation" %} 
{% set urlHeader = "foundation" %} 

{% block content %}


<nav class="nav-section">
    <ul>
        <li>
            <a href="/foundation/grid.html">
                <i class="icon-site-foundation-grid icon-48"></i>
                <span>Grid</span>
            </a>
        </li>
        <li>
            <a href="/foundation/colors.html">
                <i class="icon-site-foundation-colors icon-48"></i>
                <span>Colors</span>
            </a>
        </li>
        <li>
            <a href="/foundation/typography.html">
                <i class="icon-site-foundation-typography icon-48"></i>
                <span>Typography</span>
            </a>
        </li>
    </ul>
</nav>

<div class="grid small">

    <h1>Foundation</h1>


</div>



{% endblock %}