{% extends "base.njk" %} {% set pageTitle = "Typography • Foundation" %} {% set urlHeader = "foundation" %} {% block content
%}

<div class="grid small">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/foundation/index.html">Typography</a>
                </h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-global-button-down icon-20 cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    <li>
                        <a href="#headings">Headings</a>
                    </li>
                    <li>
                        <a href="#paragraphs">Paragraphs</a>
                    </li>
                    <li>
                        <a href="#quotes">Quotes</a>
                    </li>
                    <li>
                        <a href="#pre-formatted">Pre-formatted</a>
                    </li>
                    <li>
                        <a href="#figure">Figure</a>
                    </li>
                    <li>
                        <a href="#lists">Lists</a>
                    </li>
                </ul>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading),
                and letter-spacing (tracking), and adjusting the space between pairs of letters. The term typography is also
                applied to the style, arrangement, and appearance of the letters, numbers, and symbols created by the process.<sub><a href="https://en.wikipedia.org/wiki/Typography" target="_blank">wikipedia</a></sup> 
            </p>

        </div>
    </div>

    <div class="row">
        <div class="column-12">

            <h3>
                <a id="headings" class="mark" href="#headings">Headings</a>
            </h3>
            <p>
                Use h1-h6 tags to define headers and class="title" for the title, which is suitable for the most important inscriptions, for example, in the hero or covers.
           </p>

            <div class="example">

                <h1 class="title">Title</h1>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>

                <br>

                <iframe width="100%" height="260" src="//jsfiddle.net/ciro_maciel/5zrhfr2d/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

            <h3>
                <a id="paragraphs" class="mark" href="#paragraphs">Paragraphs</a>
            </h3>
            <p>
                The base pragraph has an ideal ratio of font size and baseline. This text is easy to read in most cases.
           </p>
            <p>
                In special cases, you can use modifiers which increase or decrease the text size.
                It is useful for building a variety of websites and UI, when you need to make a lead text or signatures with a small font size .
            </p>
            
            <div class="example">
                <p>
                    By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
                </p>

                <br>

                <iframe width="100%" height="190" src="//jsfiddle.net/ciro_maciel/833frsp2/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

            <h5>Large</h5>
            <div class="example">
                <p class="large">
                    By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
                </p>

                <br>

                <iframe width="100%" height="190" src="//jsfiddle.net/ciro_maciel/zy5Lepw2/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

            <h5>Big</h5>
            <div class="example">
                <p class="big">
                    By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
                </p>

                <br>

                <iframe width="100%" height="190" src="//jsfiddle.net/ciro_maciel/do5bqvb5/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

            <h5>Small</h5>
            <div class="example">
                <p class="small">
                    By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
                </p>

                <br>

                <iframe width="100%" height="190" src="//jsfiddle.net/ciro_maciel/pkgg47zy/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h5>Smaller</h5>
            <div class="example">
                <p class="smaller">
                    By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
                </p>

                <br>

                <iframe width="100%" height="190" src="//jsfiddle.net/ciro_maciel/hLx5qcrw/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            </div>                


            <h3>
                <a id="quotes" class="mark" href="#quotes">Quotes</a>
            </h3>
            <p>
                Quotes in the text stand out for contrast and added variety to the text. In the quotes you can mark text as a paragraph tag and without it.
            </p>

            <div class="example">
                <blockquote>
                    <p>
                        No, she'll probably make me do it. Goodbye, friends. I never thought I'd die like this. But I always really hoped. I saw you with those two "ladies of the evening" at Elzars. Explain that. I never loved you.
                    </p>
                </blockquote>

                <br>

                <iframe width="100%" height="240" src="//jsfiddle.net/ciro_maciel/c6shwo4c/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

            <br>

            <p>Use <code>small</code> tag for attribution. It's a prefer way for semantic code.</p>

            <div class="example">
                <blockquote>
                    <p>
                        Who's brave enough to fly into something we all keep calling a death sphere? Yes. You gave me a dollar and some candy. I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense.
                    </p>
                    <small>
                        — Bender
                    </small>
                </blockquote>

                <br>

                <iframe width="100%" height="300" src="//jsfiddle.net/ciro_maciel/Lk59p0gk/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h3>
                <a id="pre-formatted" class="mark" href="#pre-formatted">Pre-formatted</a>
            </h3>
            <p>Pre-formatted text most often used to display code snippets or other text elements, for which you wish to preserve the exact formatting they've got.</p>

            <div class="example">
<pre>Function.prototype.inherits = function(parent)
{
    for (var key in parent.prototype)
    {
        this.prototype[key] = parent.prototype[key];
    }
};
</pre>
                <br>

                <iframe width="100%" height="280" src="//jsfiddle.net/ciro_maciel/hu75o4h5/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h3>
                <a id="figure" class="mark" href="#figure">Figure</a>
            </h3>
            <h5>Images</h5>            
            <p>
                A figure tag features an image, a video or a code plus a caption. It is a good accessibility practice.
                It also helps serve responsive video to various devices when you wrap video into <code>.video-container</code> class.
            </p>
            <div class="example">
                <figure>
                    <img src="http://placehold.it/400x150" class="responsive-img" alt="Image" data-pin-nopin="true">
                    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</figcaption>
                </figure>

                <br>

                <iframe width="100%" height="199" src="//jsfiddle.net/ciro_maciel/2f4x34bk/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h5>Video</h5>
            <div class="example">
                <figure class="w-center">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q3ur8wzzhBU" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <figcaption>Intel IoT -- What Does The Internet of Things Mean?</figcaption>
                </figure>

                <br>

                <iframe width="100%" height="260" src="//jsfiddle.net/ciro_maciel/wmj4qs8L/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h5>Code</h5>

            <div class="example">

<figure>
    <pre>
Function.prototype.inherits = function(parent) {
    for (var key in parent.prototype)
    {
        this.prototype[key] = parent.prototype[key];
    }
};</pre>
    <figcaption>
        One of the implementations of inheritance
    </figcaption>
</figure>

                <iframe width="100%" height="300" src="//jsfiddle.net/ciro_maciel/2vvos0Ls/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>




            <h3>
                <a id="lists" class="mark" href="#lists">Lists</a>
            </h3>
            <p>Although you most likely will not ever need to do so, you can still nest as many list levels as you like.</p>

            <div class="example">
                <div class="row space">
                    <div class="column column-6">
                        <ul class="inside">
                            <li>list item 1</li>
                            <li>list item 2
                                <ul>
                                    <li>list item 2.1</li>
                                    <li>list item 2.2
                                        <ul>
                                            <li>list item 2.2.1</li>
                                            <li>list item 2.2.2</li>
                                        </ul>
                                    </li>
                                    <li>list item 2.3</li>
                                    <li>list item 2.4</li>
                                </ul>
                            </li>
                            <li>list item 3</li>
                            <li>list item 4</li>
                        </ul>
                    </div>
                    <div class="column column-6">
                        <ol>
                            <li>list item 1</li>
                            <li>list item 2
                                <ol>
                                    <li>list item 2.1</li>
                                    <li>list item 2.2
                                        <ol>
                                            <li>list item 2.2.1</li>
                                            <li>list item 2.2.2</li>
                                        </ol>
                                    </li>
                                    <li>list item 2.3</li>
                                    <li>list item 2.4</li>
                                </ol>
                            </li>
                            <li>list item 3</li>
                            <li>list item 4</li>
                        </ol>
                    </div>
                </div>

                <br>

                <iframe width="100%" height="300" src="//jsfiddle.net/ciro_maciel/5Lkajfzx/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>



            <h5>Unstyled List</h5>
            <p>To remove default list styling, use <code>.unstyled</code>.</p>
            <div class="example">

                <ul class="unstyled">
                    <li>list item 1</li>
                    <li>list item 2
                        <ul>
                            <li>list item 2.1</li>
                            <li>list item 2.2</li>
                        </ul>
                    </li>
                    <li>list item 3</li>
                    <li>list item 4</li>
                </ul>

                <br>

                <iframe width="100%" height="300" src="//jsfiddle.net/ciro_maciel/f0t2dkt9/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>


            <h5>Definition List</h5>

            <p>From time to time, you may need to produce a list of definitions, and there's one nicely built-in into Kube. We love semantic things. And lists. We love lists.</p>

            <div class="example">
                <dl>
                    <dt>Term 1</dt>
                    <dd>Description 1</dd>
                    <dt>Term 2</dt>
                    <dd>Description 2</dd>
                    <dt>Term 3</dt>
                    <dd>Description 3</dd>
                </dl>

                <br>

                <iframe width="100%" height="280" src="//jsfiddle.net/ciro_maciel/8thLp84x/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            </div>

        </div>
    </div>

</div>



{% endblock %}