{% extends "base.njk" %}

{% set pageTitle = "Foundation" %} 
{% set urlHeader = "foundation" %} 

{% block content %}


    <div class="grid fixed">

        <div class="row">
            <div class="column-12">
                <h1>Typography</h1>
                <p>

                </p>
            </div>
        </div>

        <div class="grid fixed debug">
            <div class="row">
                <div class="column-12">
                    column-12
                </div>
            </div>
            <div class="row">
                <div class="column-6">
                    column-6
                </div>
                <div class="column-6">
                    column-6
                </div>
            </div>
        </div>

    </div>



{% endblock %}
