{% extends "base.njk" %}


{% set pageTitle = "Component" %}
{% set urlHeader = "component" %}

{% block content %}



    <div class="grid w-840">

        <div class="row">
            <div class="column-12">

                <div class="nav-self">
                    <div class="left">
                        <h3><a href="/component/index.html">Component</a></h3>

                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <a href="#accordion">Button</a>
                            </li>
                            <li>
                                <a href="#box">List</a>
                            </li>
                            <li>
                                <a href="#dialog">Location</a>
                            </li>
                            <li>
                                <a href="#form">Menu</a>
                            </li>
                            <li>
                                <a href="#panel">Message</a>
                            </li>
                            <li>
                                <a href="#tab">Option</a>
                            </li>
                            <li>
                                <a href="#table">Pagination</a>
                            </li>
                            <li>
                                <a href="#table">Popover</a>
                            </li>
                            <li>
                                <a href="#table">Progress</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <p>
                    Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                    The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
                </p>

            </div>
        </div>


        <div class="row">
            <div class="column-12">

                <h3>
                    <a id="button" class="mark" href="#button">Button</a>
                </h3>

                <h3>
                    <a id="list" class="mark" href="#list">List</a>
                </h3>

                <h3>
                    <a id="location" class="mark" href="#location">Location</a>
                </h3>

                <h3>
                    <a id="menu" class="mark" href="#menu">Menu</a>
                </h3>

                <h3>
                    <a id="message" class="mark" href="#message">Message</a>
                </h3>

                <h3>
                    <a id="option" class="mark" href="#option">Option</a>
                </h3>

                <h3>
                    <a id="pagination" class="mark" href="#pagination">Pagination</a>
                </h3>

                <h3>
                    <a id="popover" class="mark" href="#popover">Popover</a>
                </h3>

                <h3>
                    <a id="progress" class="mark" href="#progress">Progress</a>
                </h3>

            </div>
        </div>        

    </div>

{% endblock %}