{% extends "base.njk" %} {% set pageTitle = "Component" %} {% set urlHeader = "component" %} {% block content %}

<div class="grid w-840">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3><a href="/component/index.html">Component</a></h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-down cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    <li>
                        <a href="#button">Button</a>
                    </li>
                    <li>
                        <a href="#switch">Switch</a>
                    </li>
                    <li>
                        <a href="#list">List</a>
                    </li>
                    <li>
                        <a href="#slider">Slider</a>
                    </li>
                    <li>
                        <a href="#menu">Menu</a>
                    </li>
                    <li>
                        <a href="#message">Message</a>
                    </li>
                    <li>
                        <a href="#option">Option</a>
                    </li>
                    <li>
                        <a href="#hint">Hint</a>
                    </li>
                </ul>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>

        </div>
    </div>


    <div class="row">
        <div class="column-12">

            <h3>
                <a id="button" class="mark" href="#button">Button</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6 text-center">

                        <span class="h5">Default</span>

                        <button class="button">
                            <strong>default</strong>
                        </button>

                        <button class="button disabled">
                            <strong>default disabled</strong>
                        </button>

                    </div>
                    <div class="column column-6 text-center">

                        <span class="h5">Success</span>

                        <button class="button success">
                            <strong>success</strong>
                        </button>

                        <button class="button success disabled">
                            <strong>success disabled</strong>
                        </button>

                    </div>
                </div>

                <div class="row">
                    <div class="column column-6 text-center">

                        <h5>Info</h5>

                        <button class="button info">
                            <strong>info</strong>
                        </button>

                        <button class="button info disabled">
                            <strong>info disabled</strong>
                        </button>

                    </div>
                    <div class="column column-6 text-center">

                        <h5>Warn</h5>

                        <button class="button warn">
                            <strong>warn</strong>
                        </button>

                        <button class="button warn disabled">
                            <strong>warn disabled</strong>
                        </button>

                    </div>
                </div>

                <div class="row">
                    <div class="column column-6 text-center">

                        <h5>Danger</h5>

                        <button class="button danger">
                            <strong>danger</strong>
                        </button>

                        <button class="button danger disabled">
                            <strong>danger disabled</strong>
                        </button>

                    </div>
                    <div class="column column-6 text-center">

                        <h5>Detail</h5>

                        <div class="w-center" style="width: 165px">

                            <button class="button detail">
                                <i class="icon-home"></i>
                                <span>default number</span>
                            </button>
                            <a class="detail last" href="#">37</a>

                            <br>
                            <br>

                            <button class="button disabled detail">
                                <i class="icon-home"></i>
                                <span>default number</span>
                            </button>
                            <a class="detail last" href="#">37</a>

                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="column column-6 text-center">

                        <h5>Group - Vertical</h5>

                        <div class="button vertical w-200 w-center">
                            <button class="button text-center">
                                <i class="icon-control-start"></i>
                                <strong>Iniciar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-pause"></i>
                                <strong>Pausar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-stop"></i>
                                <strong>Parar</strong>
                            </button>
                        </div>

                    </div>
                    <div class="column column-6 text-center">

                        <h5>Group - Horizontal</h5>

                        <div class="button horizontal w-200 w-center">
                            <button class="button text-center">
                                <i class="icon-control-start"></i>
                                <strong>Iniciar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-pause"></i>
                                <strong>Pausar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-stop"></i>
                                <strong>Parar</strong>
                            </button>
                        </div>

                        <br>

                        <div class="button horizontal w-300 w-center">
                            <button class="button text-center">
                                <i class="icon-control-start"></i>
                                <strong>Iniciar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-pause"></i>
                                <strong>Pausar</strong>
                            </button>
                            <button class="button text-center">
                                <i class="icon-control-stop"></i>
                                <strong>Parar</strong>
                            </button>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="column-12 text-center">

                        <h5>Group - Checkbox</h5>

                        <div class="button horizontal checkbox w-300 w-center" data-selected="1">
                            <button class="button text-center" data-value="3">
                                <small class="smaller">3</small>
                            </button>
                            <button class="button text-center" data-value="2">
                                <small class="smaller">2</small>
                            </button>
                            <button class="button text-center" data-value="1">
                                <small class="smaller">1</small>
                            </button>
                            <button class="button text-center" data-value="0.1">
                                <small class="smaller">0.1</small>
                            </button>
                            <button class="button text-center" data-value="0.01">
                                <small class="smaller">0.01</small>
                            </button>
                        </div>

                    </div>
                </div>

                <br>

                <iframe width="100%" height="300" src="//jsfiddle.net/ciro_maciel/r895503m/embedded/html,result/?bodyColor=ffffff" allowfullscreen="allowfullscreen"
                    frameborder="0"></iframe>

            </div>


            <h3>
                <a id="switch" class="mark" href="#switch">Switch</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="w-middle">

                    <span>Unchecked</span>

                    <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>

                    <span>Checked</span>

                    <label class="switch">
                        <input type="checkbox" checked>
                        <div class="slider round"></div>
                    </label>

                </div>

            </div>


            <h3>
                <a id="list" class="mark" href="#list">List</a>
            </h3>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <ul class="list vertical w-150">
                            <li>
                                <div class="text-center">
                                    <span>div item 001</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-center">
                                    <span>div item 001</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-center">
                                    <span>div item 003</span>
                                </div>
                            </li>
                        </ul>

                        <br>

                    </div>

                    <div class="column column-6">

                        <ul class="list horizontal w-350">
                            <li>
                                <div class="text-center">
                                    <span>div item 001</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-center">
                                    <span>div item 002</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-center">
                                    <span>div item 003</span>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>


            <h3>
                <a id="slider" class="mark" href="#slider">Slider</a>
            </h3>
            <div class="example">

                <div style="height: 160px" data-slider>
                    <img class="hide" src="https://unsplash.it/778/160?random=1" />
                    <img class="hide" src="https://unsplash.it/778/160?random=2" />
                    <img class="hide" src="https://unsplash.it/778/160?random=3" />
                </div>

            </div>


            <h3>
                <a id="menu" class="mark" href="#menu">Menu</a>
            </h3>
            <div class="example">

                <ul class="menu vertical w-150">
                    <li>
                        menu item 001
                    </li>
                    <li>
                        menu item 002
                    </li>
                    <li>
                        menu item 003
                    </li>
                </ul>

                <br>

                <ul class="menu horizontal">
                    <li><a href="../index.html">Foundation</a>
                    </li>
                    <li><a href="../style/layout.html">Layout</a>
                    </li>
                    </li>
                    <li><a href="container.html">Container</a>
                    </li>
                    <li><a href="../style/graphic.html">Graphic</a>
                    </li>
                </ul>

                <br>

                <div class="w-400 w-center">

                    <ul class="menu horizontal">
                        <li>
                            menu item 001
                        </li>
                        <li>
                            menu item 002
                        </li>
                        <li>
                            menu item 003
                        </li>
                    </ul>

                </div>

            </div>


            <h3>
                <a id="message" class="mark" href="#message">Message</a>
            </h3>
            <div class="example">

                <div class="message success">teste rápido de conversão</div>
                <div class="message info">teste rápido de conversão</div>
                <div class="message warn">teste rápido de conversão</div>
                <div class="message danger">teste rápido de conversão</div>

            </div>

            <h3>
                <a id="option" class="mark" href="#option">Option</a>
            </h3>
            <div class="example">

                <div class="option w-50 margin-0" data-selected="">
                    <div>
                        <strong>Mês</strong>
                    </div>
                    <div class="menu left w-70">
                        <div class="content">
                            <div class="header">
                                <strong>Header</strong>
                            </div>
                            <ul class="body">
                                <li data-value="01">
                                    <span>01</span>
                                </li>
                                <li data-value="02">
                                    <span>02</span>
                                </li>
                                <li data-value="03">
                                    <span>03</span>
                                </li>
                                <li data-value="04">
                                    <span>04</span>
                                </li>
                                <li data-value="05">
                                    <span>05</span>
                                </li>
                                <li data-value="06">
                                    <span>06</span>
                                </li>
                                <li data-value="07">
                                    <span>07</span>
                                </li>
                                <li data-value="08">
                                    <span>08</span>
                                </li>
                                <li data-value="09">
                                    <span>09</span>
                                </li>
                                <li data-value="10">
                                    <span>10</span>
                                </li>
                                <li data-value="11">
                                    <span>11</span>
                                </li>
                                <li data-value="12">
                                    <span>12</span>
                                </li>
                            </ul>
                            <div class="footer">
                                <strong>Footer</strong>
                            </div>
                        </div>
                    </div>
                </div>

                &nbsp; &nbsp; &nbsp;

                <div class="option margin-0" data-selected="home">
                    <div>
                        <strong>Casa</strong>
                        <i class="caret"></i>
                    </div>
                    <div class="menu right">
                        <div class="content">
                            <ul class="body">
                                <li data-value="home" class="selected">
                                    <span>Casa</span>
                                </li>
                                <li data-value="work">
                                    <span>Trabalho</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                &nbsp; &nbsp; &nbsp;

                <div class="option margin-0" data-selected="home">
                    <div>
                        <i class="icon-home"></i>
                        <strong>Casa</strong>
                        <i class="caret"></i>
                    </div>
                    <div class="menu right">
                        <div class="content">
                            <ul class="body">
                                <li data-value="home" class="selected">
                                    <span>Casa</span>
                                </li>
                                <li data-value="work">
                                    <span>Trabalho</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <h3>
                <a id="hint" class="mark" href="#hint">Hint</a>
            </h3>
            <div class="example">

                <div class="box shadow w-250">
                    <div class="header">
                        <div class="item">
                            <i class="icon-control"></i>
                        </div>
                        <div class="item">
                            <strong data-i18n="controls.box.header.text">Controles</strong>
                        </div>
                    </div>
                    <div class="body">
                        <div>
                            <strong id="label-position" data-i18n="controls.box.body.displace-tool.text">Deslocamento da Ferramenta</strong>
                            <small class="right">mm</small>
                            <div class="button horizontal checkbox" data-selected="1">
                                <button class="button text-center hint" data-value="3" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small class="smaller">3</small>
                                </button>
                                <button class="button text-center hint" data-value="2" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small class="smaller">2</small>
                                </button>
                                <button class="button text-center hint" data-value="1" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small class="smaller">1</small>
                                </button>
                                <button class="button text-center hint" data-value="0.1" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small class="smaller">0.1</small>
                                </button>
                                <button class="button text-center hint" data-value="0.01" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small class="smaller">0.01</small>
                                </button>
                            </div>
                        </div>
                        <div style="height: 9px"></div>
                        <table id="table-control-motion" class="w-100">
                            <tr>
                                <td style="width: 20px"></td>
                                <td style="text-align: right">
                                    <button id="button-command-x-left" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <i class="icon-control-left w-center"></i>
                                </button>
                                </td>
                                <td style="width: 35px">
                                    <div class="button vertical">
                                        <button id="button-command-y-left" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                        <i class="icon-control-up w-center"></i>
                                    </button>
                                        <button id="button-command-y-right" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                        <i class="icon-control-down w-center"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <button id="button-command-x-right" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <i class="icon-control-right w-center"></i>
                                </button>
                                </td>
                                <td style="width: 30px"></td>
                                <td style="width: 35px">
                                    <div class="button vertical">
                                        <button id="button-command-z-up" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                        <i class="icon-control-up w-center"></i>
                                    </button>
                                        <button id="button-command-z-down" class="button text-center hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                        <i class="icon-control-down w-center"></i>
                                    </button>
                                    </div>
                                </td>
                                <td style="width: 20px"></td>
                            </tr>
                        </table>
                        <div>
                            <div class="left">
                                <div class="w-middle hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small>Spindle</small>
                                    <label class="switch">
                                        <input type="checkbox" id="checkbox-toggle-spindle">
                                        <div class="slider round" id="button-toggle-spindle"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="right">
                                <div class="w-middle hint" data-hint-title="Title" data-hint-text="Text Text Text Text Text Text">
                                    <small>Refrigeração</small>
                                    <label class="switch">
                                        <input type="checkbox" id="checkbox-toggle-coolant">
                                        <div class="slider round" id="button-toggle-coolant"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}