{% extends "base.njk" %}


{% set pageTitle = "Component" %}
{% set urlHeader = "component" %}

{% block content %}

<nav class="nav-section">
    <ul>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Button</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>List</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Location</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Menu</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Message</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Navigation</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Option</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Pagination</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Popover</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Progress</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Tab</span>
            </a>
        </li>
    </ul>
</nav>

<div class="grid w-840">

    <h1>Component</h1>


</div>



{% endblock %}