<!doctype html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">

    <title>
        {% if pageTitle %}
            {{pageTitle}} &#8226; C37 - Style
        {% else %}
            Style &#8226; C37 - Style
        {% endif %}
    </title>

    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- build:css /assets/css/style.css -->
    <link rel="stylesheet" media="all" href="/assets/css/style.css">
    <!-- endbuild -->
 
        <!-- build:jsLibrary /assets/js/library.js -->
    <script type="text/javascript" src="/assets/js/library/option-group.js"></script>
    <script type="text/javascript" src="/assets/js/library/button.js"></script>
    <!--endbuild-->

    <!-- build:jsApp /assets/js/app.js -->
    <script type="text/javascript" src="/assets/js/application.js"></script>
    <!-- endbuild -->
</head>

<body>

    {% include "partials/header.njk" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.njk" %}

</body>

</html>