[class^="logo-"] {
    display: inline-block;
}

// sizes
.logo-16 {
    height: 16px !important;
    width: 16px !important;
}

.logo-20 {
    height: 20px !important;
    width: 20px !important;
}

.logo-24 {
    height: 24px !important;
    width: 24px !important;
}

.logo-32 {
    height: 32px !important;
    width: 32px !important;
}

.logo-48 {
    height: 48px !important;
    width: 48px !important;
}

.logo-64 {
    height: 64px !important;
    width: 64px !important;
}

.logo-84 {
    height: 84px !important;
    width: 84px !important;
}

.logo-124 {
    height: 124px !important;
    width: 124px !important;
}