{% extends "base.njk" %}


{% set pageTitle = "Container" %}
{% set urlHeader = "container" %}

{% block content %}

<nav class="nav-section">
    <ul>
        <li>
            <a href="/graphic/icon.html">
                <i class="icon-nav-cad"></i>
                <span>Accordion</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Box</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Dialog</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Form</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Panel</span>
            </a>
        </li>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Table</span>
            </a>
        </li>
    </ul>
</nav>

<div class="grid w-840">

    <h1>Container</h1>


</div>



{% endblock %}


