{% extends "base.njk" %} {% set pageTitle = "Pages" %} {% set urlHeader = "pages" %} {% block content %}

<nav class="nav-section">
    <ul>
        <li>
            <a href="/pages/login.html">
                <i class="icon-nav-cad"></i>
                <span>Login</span>
            </a>
        </li>
        <li>
            <a href="/pages/error.html">
                <i class="icon-nav-cam"></i>
                <span>Error</span>
            </a>
        </li>
        <li>
            <a href="/pages/search.html">
                <i class="icon-nav-cam"></i>
                <span>Search</span>
            </a>
        </li>
        <li>
            <a href="/pages/landing.html">
                <i class="icon-nav-cam"></i>
                <span>Landing</span>
            </a>
        </li>
       
    </ul>
</nav>

<div class="grid w-840">

    <h1>Pages</h1>


</div>

{% endblock %}