{% extends "base.njk" %} {% set pageTitle = "Pages" %} {% set urlHeader = "pages" %} {% block content %}

<nav class="nav-section">
    <ul>
        <li>
            <a href="/pages/authenticate.html">
                <i class="icon-site-pages-authenticate icon-48"></i>
                <span>Authenticate</span>
            </a>
        </li>
        <li>
            <a href="/pages/error.html">
                <i class="icon-site-pages-error icon-48"></i>
                <span>Error</span>
            </a>
        </li>
        <li>
            <a href="/pages/search.html">
                <i class="icon-site-pages-search icon-48"></i>
                <span>Search</span>
            </a>
        </li>
        <li>
            <a href="/pages/landing.html">
                <i class="icon-site-pages-landing icon-48"></i>
                <span>Landing</span>
            </a>
        </li>
        <li>
            <a href="/pages/plans.html">
                <i class="icon-site-pages-landing icon-48"></i>
                <span>Plans</span>
            </a>
        </li>
       
    </ul>
</nav>

<div class="grid small">

    <h1>Pages</h1>


</div>

{% endblock %}