{% extends "base.njk" %} {% set pageTitle = "Pages" %} {% set urlHeader = "pages" %} {% block content %}


<br>

<div class="grid small">

  <div class="authenticate align-center align-middle debug" style="height: 100px">
    <div class="column column-450">6</div>
  </div>


</div>

{% endblock %}