<footer>

    <div class="website">
        <div class="container">
            <div class="left">
                <p>
                    <strong>Comunidade</strong>&nbsp;
                    <a href="https://c37.co/about.html">Sobre a C37</a>&nbsp;●
                    <a href="https://status.c37.co">Status</a>&nbsp;●
                    <a href="/open-source.html">Open Source</a>&nbsp;●
                    <a href="https://firebasestorage.googleapis.com/v0/b/c37-website.appspot.com/o/documentation%2FC37-Terms.pdf?alt=media&token=f3d57209-b580-4e3d-b656-4a09b2f4b5c1"
                        target="_blank">Termos</a>&nbsp;●
                    <a href="https://firebasestorage.googleapis.com/v0/b/c37-website.appspot.com/o/documentation%2FC37-Privacy.pdf?alt=media&token=709f395d-00d1-4ed5-9598-a375444116db"
                        target="_blank">Política</a>
                </p> 
                <p>
                    <strong>Social</strong> &nbsp;
                    <a href="https://www.facebook.com/c37.cnc/" target="_blank">
                        <i class="icon-global-social-facebook"></i>
                    </a>
                    &nbsp;
                    <a href="https://br.pinterest.com/c37cnc/" target="_blank">
                        <i class="icon-global-social-pinterest"></i>
                    </a>
                    &nbsp;
                    <a href="https://www.instagram.com/c37.cnc/" target="_blank">
                        <i class="icon-global-social-instagram"></i>
                    </a>
                    &nbsp;
                    <a href="https://www.youtube.com/c/c37cnc" target="_blank">
                        <i class="icon-global-social-youtube"></i>
                    </a>
                </p>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <td>
                            <a href="#">
                                <i class="logo-c37"></i>
                                <strong class="logo-caption">C37&reg; - 2017</strong>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</footer>