<header class="site">
    <div class="container">
        {% import 'macros/header.njk' as header %} {{header.active(urlHeader)}}
    </div>



    <style>
        ul.menu {
            list-style: none;
            color: #fff;
            text-align: justify;
            width: auto;
            padding: 0px 45px;
            height: 25px;
        }

        ul.menu:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        li.menu-item {
            display: inline-block;
            text-align: inherit;
            transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        li#search {
            cursor: pointer;
        }

        .search-wrapper {
            display: block;
            /*display: none;*/
            /*position: absolute;*/
            top: 0;
            /*left: 20%;*/
            width: 60%;
            max-width: 600px;
            background: transparent;
            height: 47px;
            z-index: 100;
        }

        @media (max-width: 768px) {

            .search-wrapper {
                width: 80%;
            }
        }
        

        .search-displayed {
            display: block;
        }

        .search-form-wrapper {
            height: 47px;
            /*padding: 16px 5px;*/
            /*position: absolute;*/
            /*left: 100px;*/
            /*opacity: 0;*/
            background-color: #fff;
        }

        .search-form {
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
        }

        .search-form i {
            color: #fff;
            margin-right: 10px;
        }

        .search-form input {
            /*background: transparent;*/
            /*color: #fff;*/
            /*border: none;*/
            font-size: 14px;
            /*font-weight: 100;*/
            /*color: #fff;*/
            margin: 0;
            outline: none;
        }

        .search-results {
            position: absolute;
            top: 47px;
            background: #fff;

            width: 60%;
            max-width: 600px;

            z-index: 100;
            padding: 10px 20px 20px 20px;
            box-sizing: border-box;
            /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
        }

        .background-overlay {
            /*display: none;*/
            display: block;
            background: rgba(0, 0, 0, 0.46);
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 99;
        }

        .search-suggestions-list {
            list-style: none;
            /*padding-left: 15px;*/
            color: #7B7B7B;
            margin-left: 10px;
        }

        .search-suggestions-list h2 {
            /*font-size: 12px;*/
        }

        .search-suggestions-list li,
        .search-suggestions-list a {
            /*font-size: 10px;*/
            color: #7B7B7B;
            text-decoration: none;
            line-height: 2.5;
        }

        .search-suggestions-list a:hover {
            color: #333;
        }



        @media (max-width: 768px) {

            .search-wrapper 

            .search-results {
                width: 100%;
                left: 0;
                max-width: 100%;
            }
        }


        .xxx {
            width: 100%;

            position: absolute;
            background-color: white;
            z-index: 100;
            top: 0;
        }

        .zzz {
            max-width: 1024px;
            margin: 0 auto;
            height: 47px;
            display: flex;
            align-items: center;
            padding: 0 5px;
            justify-content: space-between;
            box-sizing: border-box;
        }
    </style>

    <div class="xxx">

        <div class="zzz">

            <i class="logo-c37" style="width: 41px;height: 41px;"></i>

            <div class="search-wrapper">
                <div class="search-form-wrapper">
                    <form class="search-form">
                        <!--<i class="fa fa-search"></i>-->
                        <input class="search-field" placeholder="Procurar em style.c37.co" type="text" />
                    </form>
                </div>
                <div class="search-results">
                    <div class="search-suggestions">
                        <ul class="search-suggestions-list">
                            <li>
                                <span class="h4">
                            Links rápidos
                        </span>
                            </li>
                            <li>
                                <a href="#">Foundation</a>
                            </li>
                            <li>
                                <a href="#">Layout</a>
                            </li>
                            <li>
                                <a href="#">Graphic</a>
                            </li>
                            <li>
                                <a href="#">Container</a>
                            </li>
                            <li>
                                <a href="#">Component</a>
                            </li>
                            <li>
                                <a href="#">Internationalization</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <i class="icon-global-button-cancel clickable"></i>


        </div>


    </div>



</header>