<header>

    <div class="site">
        <div class="container">
            <ul>
                <li class="show-mobile">
                    <div class="nav-mobile">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </li>
                <li>
                    <a href="/">
                        <i class="logo-c37"></i>
                    </a>
                </li>
                    {% import 'macros/header.njk' as header %} {{header.active(urlHeader)}}
                <li>
                    <i id="button-search-open" class="icon-global-button-search cursor-pointer icon-20"></i>
                </li>
            </ul>

        </div>
    </div>

    <div class="search hide">
        <div class="container">
            <ul>
                <li>
                    <i class="logo-c37" style="width: 41px;height: 41px;"></i>
                </li>
                <li>
                    <form>
                        <input id="text-search-term" placeholder="Procurar em style.c37.co" type="text" />
                    </form>
                    <div class="results">
                        <span class="h5">
                            Links rápidos
                        </span>
                        <ul class="list vertical">
                            {% import 'macros/header.njk' as header %} {{header.active(urlHeader)}}
                        </ul>
                    </div>
                </li>
                <li>
                    <i id="button-search-close" class="icon-global-button-cancel clickable"></i>
                </li>
            </ul>
        </div>
    </div>

</header>