<header>
    <div class="site">
        <div class="container">
            {% import 'macros/header.njk' as header %} {{header.active(urlHeader)}}
        </div>
    </div>
    <div class="search">

        <div class="container">

            <ul>
                <li>
                    <i class="logo-c37" style="width: 41px;height: 41px;"></i>
                </li>
                <li>
                    <form>
                        <input placeholder="Procurar em style.c37.co" type="text" />
                    </form>
                    <div class="results">

                        <span class="h5">
                            Links rápidos
                        </span>

                        <ul class="list vertical">
                            <li>
                                <a href="#">Foundation</a>
                            </li>
                            <li>
                                <a href="#">Layout</a>
                            </li>
                            <li>
                                <a href="#">Graphic</a>
                            </li>
                            <li>
                                <a href="#">Container</a>
                            </li>
                            <li>
                                <a href="#">Component</a>
                            </li>
                            <li>
                                <a href="#">Internationalization</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <i class="icon-global-button-cancel clickable"></i>
                </li>
            </ul>

        </div>

    </div>
</header>

<div class="overlay"></div>