%svg-common {
	background: url("assets/img/icon/icon.svg") no-repeat;
}

.icon-cancel {
	@extend %svg-common;
	background-position: 9.523809523809524% 89.1891891891892%;
}

.icon-carving {
	@extend %svg-common;
	background-position: 85.71428571428571% 89.1891891891892%;
}

.icon-command {
	@extend %svg-common;
	background-position: 28.571428571428573% 89.1891891891892%;
}

.icon-device {
	@extend %svg-common;
	background-position: 70.58823529411765% 0;
}

.icon-devices {
	@extend %svg-common;
	background-position: 19.047619047619047% 89.1891891891892%;
}

.icon-down {
	@extend %svg-common;
	background-position: 0 75%;
}

.icon-edit {
	@extend %svg-common;
	background-position: 100% 43.24324324324324%;
}

.icon-engrave {
	@extend %svg-common;
	background-position: 100% 97.29729729729729%;
}

.icon-engrave-halftone {
	@extend %svg-common;
	background-position: 0 89.1891891891892%;
}

.icon-engrave-surface {
	@extend %svg-common;
	background-position: 86.22754491017965% 57.142857142857146%;
}

.icon-file-24 {
	@extend %svg-common;
	background-position: 73.75% 68.57142857142857%;
}

.icon-file-new {
	@extend %svg-common;
	background-position: 35.294117647058826% 0;
}

.icon-file-new-16 {
	@extend %svg-common;
	background-position: 38.095238095238095% 89.1891891891892%;
}

.icon-file-open-16 {
	@extend %svg-common;
	background-position: 100% 21.62162162162162%;
}

.icon-file-open-48 {
	@extend %svg-common;
	background-position: 0 41.37931034482759%;
}

.icon-fixer {
	@extend %svg-common;
	background-position: 100% 75.67567567567568%;
}

.icon-icon-cart {
	@extend %svg-common;
	background-position: 87.8048780487805% 16.666666666666668%;
}

.icon-idea-24 {
	@extend %svg-common;
	background-position: 58.75% 68.57142857142857%;
}

.icon-idea-28 {
	@extend %svg-common;
	background-position: 42.30769230769231% 70.58823529411765%;
}

.icon-learning-group {
	@extend %svg-common;
	background-position: 70.58823529411765% 41.37931034482759%;
}

.icon-learning-group-30 {
	@extend %svg-common;
	background-position: 23.376623376623378% 71.64179104477611%;
}

.icon-learning-video {
	@extend %svg-common;
	background-position: 35.294117647058826% 41.37931034482759%;
}

.icon-milling {
	@extend %svg-common;
	background-position: 47.61904761904762% 89.1891891891892%;
}

.icon-milling-cut {
	@extend %svg-common;
	background-position: 57.142857142857146% 89.1891891891892%;
}

.icon-milling-cut-corners-snap {
	@extend %svg-common;
	background-position: 66.66666666666667% 89.1891891891892%;
}

.icon-milling-cut-in {
	@extend %svg-common;
	background-position: 76.19047619047619% 89.1891891891892%;
}

.icon-milling-cut-out {
	@extend %svg-common;
	background-position: 85.71428571428571% 68.24324324324324%;
}

.icon-milling-cut-start-point {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-milling-cut-type {
	@extend %svg-common;
	background-position: 89.94413407821229% 56.75675675675676%;
}

.icon-milling-deepen-type {
	@extend %svg-common;
	background-position: 89.3854748603352% 68.24324324324324%;
}

.icon-milling-drill-type {
	@extend %svg-common;
	background-position: 89.3854748603352% 89.1891891891892%;
}

.icon-milling-engrave-type {
	@extend %svg-common;
	background-position: 8.938547486033519% 100%;
}

.icon-move-vertical {
	@extend %svg-common;
	background-position: 11.731843575418994% 100%;
}

.icon-object-fit {
	@extend %svg-common;
	background-position: 15.476190476190476% 100%;
}

.icon-probe-automatic-mode {
	@extend %svg-common;
	background-position: 25% 100%;
}

.icon-probe-collect {
	@extend %svg-common;
	background-position: 34.523809523809526% 100%;
}

.icon-probe-manual-mode {
	@extend %svg-common;
	background-position: 44.04761904761905% 100%;
}

.icon-probe-mode-grid-points {
	@extend %svg-common;
	background-position: 53.57142857142857% 100%;
}

.icon-probe-mode-three-points {
	@extend %svg-common;
	background-position: 63.095238095238095% 100%;
}

.icon-probe-start {
	@extend %svg-common;
	background-position: 72.61904761904762% 100%;
}

.icon-probe-stop {
	@extend %svg-common;
	background-position: 82.14285714285714% 100%;
}

.icon-refresh {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-save {
	@extend %svg-common;
	background-position: 100% 10.81081081081081%;
}

.icon-search {
	@extend %svg-common;
	background-position: 87.8048780487805% 30.555555555555557%;
}

.icon-setting {
	@extend %svg-common;
	background-position: 100% 32.432432432432435%;
}

.icon-start-up {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-target {
	@extend %svg-common;
	background-position: 100% 54.054054054054056%;
}

.icon-tool {
	@extend %svg-common;
	background-position: 100% 64.86486486486487%;
}

.icon-user {
	@extend %svg-common;
	background-position: 87.8048780487805% 44.44444444444444%;
}

.icon-user-help {
	@extend %svg-common;
	background-position: 100% 86.48648648648648%;
}

.icon-user-help-24 {
	@extend %svg-common;
	background-position: 90% 0;
}

.icon-window-minimize {
	@extend %svg-common;
	background-position: 83.72093023255815% 76.97368421052632%;
}

