{% extends "base.njk" %} {% set pageTitle = "Graphic" %} {% set urlHeader = "graphic" %} {% block content %}


<div class="grid w-840">

    <div class="row">
        <div class="column-12">

            <div class="nav-self">
                <div class="left">
                    <h3><a href="/graphic/index.html">Icon</a></h3>

                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#default">Default</a>
                        </li>
                        <li>
                            <a href="#cad">CAD</a>
                        </li>
                        <li>
                            <a href="#cam">CAM</a>
                        </li>
                        <li>
                            <a href="#controller">Controller</a>
                        </li>
                        <li>
                            <a href="#editor">Editor</a>
                        </li>
                        <li>
                            <a href="#firmaware">Firmaware</a>
                        </li>
                        <li>
                            <a href="#production">Production</a>
                        </li>
                        <li>
                            <a href="#automatus">Automatus</a>
                        </li>
                    </ul>
                </div>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>

        </div>
    </div>


    <div class="row">
        <div class="column-12">

            <h3>
                <a id="default" class="mark" href="#default">Default</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>



            <h3>
                <a id="cad" class="mark" href="#cad">CAD</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="cam" class="mark" href="#cam">CAM</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="controller" class="mark" href="#controller">Controller</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="editor" class="mark" href="#editor">Editor</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="firmaware" class="mark" href="#firmaware">Firmaware</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="production" class="mark" href="#production">Production</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>


            <h3>
                <a id="automatus" class="mark" href="#automatus">Automatus</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">


            </div>









        </div>
    </div>





</div>


{% endblock %}
