{% extends "base.njk" %}

{% set pageTitle = "Graphic" %}
{% set urlHeader = "graphic" %}

{% block content %}


<nav class="nav-section">
    <ul>
        <li>
            <a href="/graphic/logo.html">
                <i class="icon-nav-cam"></i>
                <span>Logo</span>
            </a>
        </li>
        <li>
            <a href="/graphic/icon.html">
                <i class="icon-nav-cad"></i>
                <span>Icon</span>
            </a>
        </li>
        <li>
            <a href="/graphic/internationalization.html">
                <i class="icon-nav-cad"></i>
                <span>Internationalization</span>
            </a>
        </li>
    </ul>
</nav>

<div class="grid w-840">

    <h1>Graphic</h1>


</div>



{% endblock %}