{% extends "base.njk" %} {% set pageTitle = "Graphic" %} {% set urlHeader = "graphic" %} {% block content %}



<div class="grid small">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/graphic/index.html">Internationalization</a>
                </h3>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>

        </div>
    </div>


    <div class="row">
        <div class="column column-3 text-center">
            <h5> ‏العربية‏ </h5>
            <i class="i18n-AE i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>Deutsch</h5>
            <i class="i18n-DE i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>English (UK)</h5>
            <i class="i18n-GB i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>English (US)</h5>
            <i class="i18n-US i18n-48"></i>            
        </div>
    </div>

    <div class="row">
        <div class="column column-3 text-center">
            <h5>Español (España)</h5>
            <i class="i18n-ES i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>भारत</h5>
            <i class="i18n-IN i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>日本語</h5>
            <i class="i18n-JP i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>Polski</h5>
            <i class="i18n-PL i18n-48"></i>            
        </div>
    </div>

    <div class="row">
        <div class="column column-3 text-center">
            <h5>Português (Brasil)</h5>
            <i class="i18n-BR i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>Română</h5>
            <i class="i18n-RO i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>Русский</h5>
            <i class="i18n-RU i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>Türkçe</h5>
            <i class="i18n-TR i18n-48"></i>            
        </div>
    </div>

    <div class="row">
        <div class="column column-3 text-center">
            <h5>Українська</h5>
            <i class="i18n-UA i18n-48"></i>            
        </div>
        <div class="column column-3 text-center">
            <h5>中文(简体)</h5>
            <i class="i18n-CN i18n-48"></i>            
        </div>
    </div>





</div>


{% endblock %}