{% extends "base.njk" %} {% set pageTitle = "Graphic" %} {% set urlHeader = "graphic" %} {% block content %}


<div class="grid w-840">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/graphic/index.html">Logo</a>
                </h3>
                <ul class="show-mobile">
                    <li>
                        <i class="icon-global-button-down icon-20 cursor-pointer"></i>
                    </li>
                </ul>
                <ul class="hide-mobile">
                    <li>
                        <a href="#c37">C37</a>
                    </li>
                    <li>
                        <a href="#cad">CAD</a>
                    </li>
                    <li>
                        <a href="#cam">CAM</a>
                    </li>
                    <li>
                        <a href="#controller">Controller</a>
                    </li>
                    <li>
                        <a href="#editor">Editor</a>
                    </li>
                    <li>
                        <a href="#firmware">Firmware</a>
                    </li>
                    <li>
                        <a href="#production">Production</a>
                    </li>
                    <li>
                        <a href="#automatus">Automatus</a>
                    </li>
                </ul>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>
            <p>
                <a href="http://stackoverflow.com/questions/4014823/does-a-favicon-have-to-be-32x32-or-16x16" target="_blank">Does a favicon have to be 32x32 or 16x16?</a>
            </p>

        </div>
    </div>


    <div class="row">
        <div class="column-12">


            <h3>
                <a id="c37" class="mark" href="#c37">C37</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-c37 logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png"  alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="cad" class="mark" href="#cad">CAD</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-cad logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="cam" class="mark" href="#cam">CAM</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-cam logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="controller" class="mark" href="#controller">Controller</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-controller logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="editor" class="mark" href="#editor">Editor</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-editor logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="firmware" class="mark" href="#firmware">Firmware</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-firmware logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="production" class="mark" href="#production">Production</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-production logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


            <h3>
                <a id="automatus" class="mark" href="#automatus">Automatus</a>
            </h3>
            <p>
                Columns are building blocks for many websites. Here's how columns are formed, and here's how you can use them right away.
            </p>
            <div class="example">

                <div class="row">
                    <div class="column column-6">

                        <span class="h5">Logo</span>

                        <i class="logo-automatus logo-124"></i>

                    </div>
                    <div class="column column-6">

                        <span class="h5">Favicon</span>

                        <img src="/assets/img/favicon.png" alt="">

                    </div>
                </div>

            </div>


        </div>
    </div>







</div>


{% endblock %}