[class^="i18n-"] {
    display: inline-block;
}

// sizes

.i18n-20 {
    height: 20px !important;
    width: 20px !important;
}

.i18n-24 {
    height: 24px !important;
    width: 24px !important;
}

.i18n-32 {
    height: 32px !important;
    width: 32px !important;
}

.i18n-48 {
    height: 48px !important;
    width: 48px !important;
}