%i18n-common {
	background: url("../img/i18n.svg") no-repeat;
	background-size: 100% auto !important;
}

.i18n-AE {
	@extend %i18n-common;
	background-position: 0 0;
}

.i18n-BR {
	@extend %i18n-common;
	background-position: 0 7.6923076923076925%;
}

.i18n-CN {
	@extend %i18n-common;
	background-position: 0 15.384615384615385%;
}

.i18n-DE {
	@extend %i18n-common;
	background-position: 0 23.076923076923077%;
}

.i18n-ES {
	@extend %i18n-common;
	background-position: 0 30.76923076923077%;
}

.i18n-GB {
	@extend %i18n-common;
	background-position: 0 38.46153846153846%;
}

.i18n-IN {
	@extend %i18n-common;
	background-position: 0 46.15384615384615%;
}

.i18n-JP {
	@extend %i18n-common;
	background-position: 0 53.84615384615385%;
}

.i18n-PL {
	@extend %i18n-common;
	background-position: 0 61.53846153846154%;
}

.i18n-RO {
	@extend %i18n-common;
	background-position: 0 69.23076923076923%;
}

.i18n-RU {
	@extend %i18n-common;
	background-position: 0 76.92307692307692%;
}

.i18n-TR {
	@extend %i18n-common;
	background-position: 0 84.61538461538461%;
}

.i18n-UA {
	@extend %i18n-common;
	background-position: 0 92.3076923076923%;
}

.i18n-US {
	@extend %i18n-common;
	background-position: 0 100%;
}

