{% extends "base.njk" %} {% block content %}
 
<div class="grid small">
    <div class="row">
        <div class="column column-12">
            <div class="hero">
                <h1>Style<small> + {scss} = Css</small></h1>
                <p>
                    Estruturar o layout ao longo de uma serie de páginas ou superfícies de modo a obter uma flexibilidade máxima sem perder a
                    continuidade, é importante para manter a atenção do leitor. As proporções das margens vão variar de acordo
                    com o contexto de design, mas como linha condutora, a margem inferior é normalmente o dobro da margem
                    do topo e a margem inferior duplica a largura da margem exterior.<sub><a href="https://pt.wikipedia.org/wiki/Layout_gr%C3%A1fico" target="_blank">wikipedia</a></sup> 
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}