ul.list {
    background-color: $listcolor3;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: $listwidth0;
    margin: 0px;
    &.border {
        border-radius: $border-radius;
        border: 1px solid $listcolor0;
    }
    >li {
            padding: 4px 0 5px 3px;

        cursor: pointer !important;
        list-style: none;
        >a{
            display: block;
        }
        * {
            cursor: pointer !important;
        }
        &:hover {
            background-color: $listcolor1;
            cursor: pointer !important;
        }
        &:hover>div>i,
        &:hover>div>strong {
            color: $listcolor2;
            cursor: pointer !important;
            font-weight: 500;
            opacity: 1;
        }
        &.selected {
            >div {
                background-color: $listcolor1;
                cursor: default !important;
                >i,
                >strong {
                    color: $listcolor2 !important;
                    cursor: default !important;
                    opacity: 1 !important;
                }
            }
        }
        &.disabled {
            >div {
                background-color: #FBFBFB;
                >i,
                >strong {
                    cursor: default !important;
                    color: $listcolor2 !important;
                    opacity: .4 !important;
                }
            }
            &:hover {
                * {
                    cursor: default !important;
                }
            }
        }
    }
}

// ul.list.border {
//     border-radius: $border-radius;
//     border: 1px solid $listcolor0;
// }
// ul.list>li {
//     cursor: pointer !important;
//     list-style: none;
//     * {
//         cursor: pointer !important;
//     }
//     &:hover {
//         background-color: $listcolor1;
//         cursor: pointer !important;
//     }
//     &:hover>div>i,
//     &:hover>div>strong {
//         color: $listcolor2;
//         cursor: pointer !important;
//         font-weight: 500;
//         opacity: 1;
//     }
//     &.selected {
//         >div {
//             background-color: $listcolor1;
//             cursor: default !important;
//             >i,
//             >strong {
//                 color: $listcolor2 !important;
//                 cursor: default !important;
//                 opacity: 1 !important;
//             }
//         }
//     }
//     &.disabled {
//         >div {
//             background-color: #FBFBFB;
//             >i,
//             >strong {
//                 cursor: default !important;
//                 color: $listcolor2 !important;
//                 opacity: .4 !important;
//             }
//         }
//         &:hover {
//             * {
//                 cursor: default !important;
//             }
//         }
//     }
// }

ul.list>li>div {
    cursor: inherit;
    // padding: 4px 0 5px 3px;
}

ul.list>li>div.padding-3 {
    cursor: inherit;
    padding: 3px 0 3px 1px;
}

ul.list.padding-plus>li>div {
    cursor: inherit;
    padding: 9px;
}

ul.list>li>div>i.hide {
    opacity: 0;
}

ul.list.vertical {
    display: block;
}

ul.list.vertical>li {
    border-bottom: 1px solid $listcolor0;
    display: block;
    width: $listwidth0;
    &:last-child {
        border-bottom: none;
    }
}

ul.list.horizontal {
    display: flex;
}

ul.list.horizontal>li {
    border-right: 1px solid $listcolor0;
    flex: 1 0 0;
    &:last-child {
        border-right: none;
    }
}