
ul.menu {
    display: flex;
    width: 100%;
}

ul.menu > li {
    display: block;
    background-color: $menucolor2;
    background-image: linear-gradient($menucolor1, $menucolor2);
    border: 1px solid $menucolor0;
    color: $menucolor5;
    flex-grow: 1;
    padding: 3px 0 3px 0;
    z-index: 1;
    cursor: pointer !important;
    * {
        cursor: pointer !important;
    }
    &:hover {
        color: #393b3e;
        background-image: linear-gradient(rgb(250, 250, 250), rgb(217, 217, 217));
        border-color: rgb(189, 189, 189);

        z-index: 2;
    }
    &:hover > i {
        opacity: 1;
    }
    &.disabled {
        background-color: #FBFBFB;
        cursor: default !important;
        >i, >strong {
            cursor: default !important;
            color: $listcolor2 !important;
            opacity: .4 !important;
        }
        &:hover {
            * {
                cursor: default !important;
            }
            color: $listcolor2 !important;
            background-image: linear-gradient($menucolor1, $menucolor2);
            border-color: $menucolor0;

            z-index: 1;
        }
    }
}

ul.menu > li.selected {
    background-color: $menucolor0;
    background-image: linear-gradient($menucolor1, $menucolor4);
    background-repeat: repeat-x;
    border-color: $menucolor0;
    color: $menucolor3;
}

ul.menu > li > i {
    margin: 1px;
    opacity: .6;
    vertical-align: middle;
}

ul.menu > li.selected > i {
    opacity: 1;
}

ul.menu.horizontal {
    flex-direction: row;
}

ul.menu.horizontal > li {
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
        background-color: red;
    &:hover,
        &:active,
        &:focus {
        //        box-shadow: 0 1px 2px rgba(100, 100, 100, 0.4);
    }
    &:first-child {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }
    &:last-child {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
    }
}

ul.menu.vertical {
    flex-direction: column;
}

ul.menu.vertical > li {
    text-align: center;
    margin-top: -1px;
    &:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}