.option {
    background-color: $option-color2;
    background-image: linear-gradient($option-color0, $option-color2);
    background-repeat: repeat-x;
    border-radius: $border-radius;
    border: 1px solid $option-color10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: $option-color7;
    cursor: pointer;
    margin-bottom: 9px;
    display: inline-block;
    font-weight: 500;
    height: 26px;
    padding: 1px 9px;
    position: relative;
    &:hover {
        background-color: $option-color1;
        background-image: -moz-linear-gradient($option-color0, $option-color1);
        background-image: -webkit-linear-gradient($option-color0, $option-color1);
        background-image: linear-gradient($option-color0, $option-color1);
        background-repeat: repeat-x;
        border-color: $option-color11;
    }
    &.required,
    {
        border: 1px solid firebrick;
        background-color: #FFD5D5;
        background-image: none;
    }
    &.text-center {
        text-align: center;
    }
    //    &:hover>.menu {
    //        display: block;
    //        hover {
    //            display: block;
    //        }
    //    }
}

.option>i {
    margin: 0px;
    padding: 0px;
}

.option>strong {
    // http://apps.eky.hk/css-triangle-generator/
    &:after {
        content: '';
        margin-left: 3px;
        display: inline-block;
        position: relative;
        margin-left: 5px;
        top: -2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5.5px 0 5.5px;
        border-color: #43484d transparent transparent transparent;
    }
    padding-top: 2px;
    padding-right: 7px;
}

.option.press {
    background-color: $option-color1;
    background-image: -moz-linear-gradient($option-color2, $option-color1);
    background-image: -webkit-linear-gradient($option-color2, $option-color1);
    background-image: linear-gradient($option-color2, $option-color1);
    background-repeat: repeat-x;
    border-color: $option-color9;
    box-shadow: inset 0 2px 9px rgba(0, 0, 0, 0.15);
    color: $option-color7;
}

.option>.menu {
    display: none;
    left: -1px;
    padding-top: 6px;
    position: absolute;
    width: 175px;
    z-index: 99933379;
}

.option>.menu.right {
    left: auto;
    right: -1px;
}

.option>.menu.left {
    left: -1px;
}

.option>.menu>.content {
    background: $option-color12;
    border-radius: $border-radius;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
}

.option>.menu>.content>.header {
    background-color: $option-color3;
    background-image: -moz-linear-gradient($option-color0, $option-color3);
    background-image: -webkit-linear-gradient($option-color0, $option-color3);
    background-image: linear-gradient($option-color0, $option-color3);
    background-repeat: repeat-x;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid $option-color6;
    border-bottom: none;
    font-weight: bold;
    padding: 8px 6px;
}

.option>.menu>.content>.body {
    margin: 0px;
    cursor: pointer;
    display: block !important; 
        list-style: none;
    //    padding: 8px 10px;
    &:first-child {
        border-top: none !important;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child {
        border-bottom: 1px solid $option-color6;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.option>.menu>.content>.body>li {
    &:hover {
        background: $option-color4;
        color: white;
        >a {
            transition: none;
            color: white;
        }
    }
    border-top: 1px solid $option-color6;
    border-left: 1px solid $option-color6;
    border-right: 1px solid $option-color6;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 13px;
    float: none !important;
    >a {
        transition: none;
        color: $option-color8;
        display: block;
    }
}

// .option>.menu>.content>.option>li>a {
//    &:hover {
//        color: white !important;
//    }
// }
.option>.menu>.content>.body>.icon {
    display: table-cell;
    width: 24px;
}

.option>.menu>.content>.body>.text {
    display: table-cell;
    padding: 0 0 0 3px;
}

.option>.menu>.content>.body>.selected {
    background: $option-color4;
    color: $option-color5;
}

.option>.menu>.content>.footer {
    font-weight: 300;
    padding: 6px;
    border: 1px solid $option-color6;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}