{% macro active(active="") %}
<nav>
  <a href="/">Home</a>
  <a href="/foundation" class="{%if active == 'foundation' %}active{% endif %}">Foundation</a>
  <a href="/layout" class="{%if active == 'layout' %}active{% endif %}">Layout</a>
  <a href="/graphic" class="{%if active == 'graphic' %}active{% endif %}">Graphic</a>
  <a href="/container" class="{%if active == 'container' %}active{% endif %}">Container</a>
  <a href="/component" class="{%if active == 'component' %}active{% endif %}">Component</a>
</nav>
{% endmacro %}