{% macro active(selected="") %}
  <li class="hide-mobile">
    <a href="/foundation" class="{%if selected == 'foundation' %}selected{% endif %}">Foundation</a>
  </li>
  <li class="hide-mobile">
    <a href="/layout" class="{%if selected == 'layout' %}selected{% endif %}">Layout</a>
  </li>
  <li class="hide-mobile">
    <a href="/graphic" class="{%if selected == 'graphic' %}selected{% endif %}">Graphic</a>
  </li>
  <li class="hide-mobile">
    <a href="/container" class="{%if selected == 'container' %}selected{% endif %}">Container</a>
  </li>
  <li class="hide-mobile">
    <a href="/component" class="{%if selected == 'component' %}selected{% endif %}">Component</a>
  </li>
  <li class="hide-mobile">
    <a href="/internationalization" class="{%if selected == 'internationalization' %}selected{% endif %}">Internationalization</a>
  </li>
  <li class="hide-mobile">
    <a href="/pages" class="{%if selected == 'pages' %}selected{% endif %}">Pages</a>
  </li>
{% endmacro %}