{% macro active(selected="") %}

<nav class="show-mobile">
  <ul>
    <li>

      <div class="nav-mobile">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <script>
          window.addEventListener('load', function () {
              document.querySelector('.nav-mobile').onclick = function () {
                  this.classList.toggle('active');
              };
          });
      </script>

    </li>
    <li>
      <a href="/">
        <i class="logo"></i>
      </a>
    </li>
    <li>
        <i class="icon-search-20"></i>
    </li>


    <!--<li>
      <div id="option-group-i18n" class="option-group" style="padding-right: 5px">

        <i class="icon-user-20"></i>

        <div class="menu right" style="display: none;">

          <div class="content">
            <ul class="option">
              <li class="button-signin hide">
                <img src="/assets/img/icon-user.svg" style="vertical-align: middle; width: 20px" alt="">
                <span>Minha conta</span>
              </li>
              <li class="button-account">
                <a href="https://account.c37.co" target="_blank">
                  <img src="/assets/img/icon-user.svg" style="vertical-align: middle; width: 20px" alt="">
                  <span>Cielo Integração</span>
                </a>
              </li>
              <li>
                <a href="/shop/bag.html">
                  <img src="/assets/img/icon-bag.svg" style="vertical-align: middle; width: 20px" alt="">
                  <span>Sacola</span>
                </a>
              </li>
              <li>
                <img src="/assets/img/icon-favorite.svg" style="vertical-align: middle; width: 20px" alt="">
                <span>Favoritos</span>
              </li>
              <li>
                <img src="/assets/img/flags/BR.png" style="vertical-align: middle; width: 20px" alt="">
                <span>Idioma</span>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </li>-->


  </ul>
</nav>

<nav class="hide-mobile">
  <ul>
    <li>
      <a href="/">
        <i class="logo"></i>
      </a>
    </li>
    <li>
      <a href="/foundation" class="{%if selected == 'foundation' %}selected{% endif %}">Foundation</a>
    </li>
    <li>
      <a href="/layout" class="{%if selected == 'layout' %}selected{% endif %}">Layout</a>
    </li>
    <li>
      <a href="/graphic" class="{%if selected == 'graphic' %}selected{% endif %}">Graphic</a>
    </li>
    <li>
      <a href="/container" class="{%if selected == 'container' %}selected{% endif %}">Container</a>
    </li>
    <li>
      <a href="/component" class="{%if selected == 'component' %}selected{% endif %}">Component</a>
    </li>
    <li>
        <i class="icon-search-20"></i>
    </li>
    
  </ul>
</nav>
{% endmacro %}