/* default */

button.button {
    font: inherit;
    display: inline-block;
    padding: 3px 5px;
    margin: 0 3px;
    color: #3d3b36;
    text-align: left;
    background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
    outline: none;
    cursor: pointer !important;
    * {
        cursor: pointer !important;
    }
    & > i {
        margin: 0;
    }
    &.count{
        float: left;
        margin-right: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
a.number{
    float: left;
    padding: 2px 5px;
    font-size: inherit;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgb(197, 197, 197);
    
    /*border: 1px solid #ddd;*/
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    margin-right: 3px;
    
    &:hover,
        &:active {
        text-decoration: none;
    }

    &:hover {
        color:  #4078c0;
        cursor: pointer;
    }        
}



button.button:hover,
button.button:active {
    color: #393b3e;
    background-image: linear-gradient(rgb(250, 250, 250), rgb(217, 217, 217));
    border-color: rgb(189, 189, 189);
}

button.button.disabled {
    opacity: .5;
    color: rgb(102, 102, 102);
    background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
    background-color: rgb(229, 229, 229);
    border-color: rgb(197, 197, 197);
    cursor: default !important;
    * {
        cursor: default !important;
    }
}

button.button.selected {
    color: #393b3e;
    background-image: none;
    background-color: #dcdcdc;
    border-color: rgb(189, 189, 189);
    cursor: default !important;
    opacity: 1 !important;
    *{
        cursor: default !important;
        opacity: 1 !important;
    }
}
/* default */
/* success */

button.button.success {
    color: rgb(255, 255, 255);
    background-color: rgb(96, 176, 68);
    background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68));
    border-color: rgb(92, 169, 65);
}

button.button.success:hover,
button.button.success:active {
    background-color: rgb(86, 158, 61);
    background-image: linear-gradient(rgb(138, 221, 109), rgb(86, 158, 61));
    border-color: rgb(86, 158, 61);
}

button.button.success.disabled {
    background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68));
}
/* success */
/* info */

button.button.info {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 114, 179);
    background-image: linear-gradient(rgb(89, 155, 205), rgb(48, 114, 179));
    border-color: rgb(42, 101, 160);
}

button.button.info:hover,
button.button.info:active {
    background-color: rgb(41, 95, 150);
    background-image: linear-gradient(rgb(89, 155, 205), rgb(41, 95, 150));
    border-color: rgb(41, 95, 150);
}

button.button.info.disabled {
    background-image: linear-gradient(rgb(89, 155, 205), rgb(48, 114, 179));
}
/* info */
/* warn */

button.button.warn {
    color: rgb(161, 136, 43);
    background-color: rgb(248, 238, 199);
    background-image: linear-gradient(rgb(248, 238, 199), rgb(240, 216, 137));
    border-color: rgb(226, 204, 122);
}

button.button.warn:hover,
button.button.warn:active {
    background-color: rgb(222, 180, 132);
    background-image: linear-gradient(rgb(248, 238, 199), rgb(226, 193, 155));
    border-color: rgb(226, 193, 155);
}

button.button.warn.disabled {
    background-image: linear-gradient(rgb(248, 238, 199), rgb(240, 216, 137));
}
/* warn */
/* danger */

button.button.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(179, 54, 48);
    background-image: linear-gradient(rgb(220, 95, 89), rgb(179, 54, 48));
    border-color: rgb(213, 92, 86);
}

button.button.danger:hover,
button.button.danger:active {
    background-color: rgb(153, 0, 0);
    background-image: linear-gradient(rgb(220, 95, 89), rgb(153, 0, 0));
    border-color: rgb(213, 80, 73);
}

button.button.danger.disabled {
    background-image: linear-gradient(rgb(220, 95, 89), rgb(179, 54, 48));
}
/* danger */