// Color variables (appears count calculates by raw css)
@menucolor0: #cccccc; // Appears 4 times
@menucolor1: #fafafa; // Appears 3 times
@menucolor2: #eaeaea; // Appears 2 times
@menucolor3: #393b3e; // Appears 2 times
@menucolor4: #dadada; // Appears 2 times
@menucolor5: #3d3b36; // Appears 1 time
@menucolor6: #dddddd; // Appears 1 time
ul.menu {
    display: flex;
    width: 100%;
}

ul.menu>li {
    position: relative;
    background-color: @menucolor2;
    background-image: linear-gradient(@menucolor1, @menucolor2);
    border: 1px solid @menucolor6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: @menucolor5;
    cursor: pointer;
    flex-grow: 1;
    padding: 3px 0 3px 0;
    z-index: 1;
    &:hover {
        background-color: @menucolor0;
        background-image: linear-gradient(@menucolor1, @menucolor4);
        background-repeat: repeat-x;
        border-color: @menucolor0;
        color: @menucolor3;
        z-index: 2;
    }
    &:hover>i {
        opacity: 1;
    }
}

ul.menu>li.selected {
    background-color: @menucolor0;
    background-image: linear-gradient(@menucolor1, @menucolor4);
    background-repeat: repeat-x;
    border-color: @menucolor0;
    color: @menucolor3;
}

ul.menu>li>i {
    margin: 1px;
    opacity: .6;
    vertical-align: middle;
}

ul.menu>li.selected>i {
    opacity: 1;
}

ul.menu.horizontal {
    flex-direction: row;
}

ul.menu.horizontal>li {
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    &:first-child {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }
    &:last-child {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
    }
}

ul.menu.vertical {
    flex-direction: column;
}

ul.menu.vertical>li {
    text-align: center;
    margin-top: -1px;
    &:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}