header {
    >.application {
        // http://jsbin.com/ - para applicativos 
        margin: 0px;
    }
    >.website {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        >.container {
            max-width: 1024px;
            height: 47px;
            margin: 0 auto;
            padding: 0 5px;
            display: flex;
            box-sizing: border-box;
            >ul {
                width: 100%;
                display: flex;
                margin: 0px;
                align-items: center;
                justify-content: space-between;
                >li {
                    align-items: center;
                    display: flex;
                    >a {
                        font-size: $header-font-size + 1px;
                        >.logo-c37 {
                            display: block;
                            width: 40px;
                            height: 40px;
                        }
                        color: #666665; // color: #3b4854;
                        &:hover,
                        &.selected {
                            color: #599bcd;
                            transition: all linear 0.2s;
                        }
                        &.selected {
                            font-weight: bold;
                        }
                    }
                    >.nav-mobile {
                        margin-left: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                        &.active {
                            .line:nth-child(2) {
                                opacity: 0;
                            }
                            .line:nth-child(1) {
                                transform: translateY(5px) rotate(45deg);
                            }
                            .line:nth-child(3) {
                                transform: translateY(-5px) rotate(-45deg);
                            }
                        }
                        .line {
                            width: 20px;
                            height: 2px;
                            background-color: #666665;
                            display: block;
                            margin: 3px auto;
                            -webkit-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        } // fix - para quando estou em modo mobile
        .selected {
            font-weight: bold;
        } // fix - para quando estou em modo mobile
    }
    >.search {
        width: 100%;
        position: absolute;
        background-color: white;
        z-index: 100;
        top: 0;
        >.container {
            max-width: 1024px;
            margin: 0 auto;
            height: 47px;
            display: flex;
            align-items: center;
            padding: 0 5px;
            justify-content: space-between;
            box-sizing: border-box;
            >ul {
                width: 100%;
                display: flex;
                margin: 0px;
                align-items: center;
                justify-content: space-between;
                >li {
                    align-items: center;
                    display: flex;
                    list-style: none;
                    >a {
                        >.logo-c37 {
                            display: block;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    @include breakpoint(medium) {
                        &:nth-child(2) {
                            width: 80% !important;
                        }
                    }
                    form {
                        width: 600px;
                        height: 47px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 20px;
                        box-sizing: border-box;
                        @include breakpoint(medium) {
                            width: 100%;
                        }
                        >input {
                            font-size: 14px;
                            margin: 0;
                            outline: none;
                        }
                    }
                    >.results {
                        position: absolute;
                        top: 46px;
                        background: #fff;
                        width: 600px;
                        z-index: 100;
                        padding: 10px 20px 20px 20px;
                        box-sizing: border-box;
                        @include breakpoint(medium) {
                            width: 100% !important;
                            left: 0 !important;
                        }
                    }
                }
            }
        }
    }
    .button:hover,
    .button:active,
    .button,
    .option-group,
    .option-group:hover {
        background-color: transparent;
        border: none;
        box-shadow: none;
        background-image: none;
        outline: none;
        -webkit-app-region: no-drag;
    }
}