// http://jsbin.com/ - para applicativos
header {
    &.application {
        margin: 0px;
    }
    &.site{
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        >.container{
            max-width: 1024px;
            height: 47px;
            margin: 0 auto;
            padding: 0 5px;
            >nav{
                width: 100%;
                >ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    >li a{
                        >.logo {
                            @include logo-header();
                        }
                        color: #666665;
                        // color: #3b4854;
                        &:hover,
                        &.selected{
                            color: #599bcd;
                            transition: all linear 0.2s;
                        }
                        &.selected{
                            font-weight: bold;
                        }
                    }                    
                }                
            }
        }
    }
}

header.site .nav-mobile{
    margin-left: 9px;
}
header.site .nav-mobile .line{
  width: 20px;
  height: 2px;
  background-color: #666665;
  display: block;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header.site .nav-mobile:hover{
  cursor: pointer;
}
header.site .nav-mobile.active .line:nth-child(2){
  opacity: 0;
}
header.site .nav-mobile.active .line:nth-child(1){
  transform: translateY(5px) rotate(45deg);
}
header.site .nav-mobile.active .line:nth-child(3){
  transform: translateY(-5px) rotate(-45deg);
}
























header.web-site{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
header.web-site .logo {
    display: block;
    background: url('/img/logo.svg') no-repeat center/100%;
    width: 43px;
    height: 47px;
}
header.web-site>.container{
    // display: flex;
    // align-items: center;
    max-width: 1024px;
    height: 47px;
    margin: 0 auto;
    padding: 0 5px;
}
header.web-site>.container>nav{
    width: 100%;
}
header.web-site>.container ul{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
header.web-site>.container ul>li a{
    // font-size: 16px;
    color: #3b4854;
}
header.web-site>.container ul>li a:hover,
header.web-site>.container ul>li a.selected{
    color: #599bcd;
    transition: all linear 0.2s;
}
@media (min-width: 768px) {
    .show-mobile {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}





header .button:hover,
header .button:active,
header .button,
header .option-group,
header .option-group:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-image: none;
    outline: none;
    -webkit-app-region: no-drag;
}




.nav-sub {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
}
.nav-sub>ul{
    display: flex;
}
.nav-sub>.align-left > ul { 
    justify-content: flex-start;
}
.nav-sub>.align-center > ul {    
    justify-content: center;
}
.nav-sub>.align-right > ul {
    justify-content: flex-end;
}
.nav-sub>ul>li{
    padding: 0 15px;
}


			.nav-self {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);
				margin-bottom: 11px;
				font-size: 13px ! important;
			}

			.nav-self .right {
				position: relative;
				top: 18px;
			}

			.nav-self h3 {
				margin-bottom: 5px;
				margin-top: 15px;
			}

			.nav-self ul {
				/*margin-top: auto;*/
				display: flex;
				align-items: center;
			}

			.nav-self ul li {
				float: left;
				padding: 0 7px;
                    list-style: none;

			}






#subnav {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 15px; }
  #subnav ul {
    margin: 0;
    text-align: center; }
  #subnav li {
    display: inline-block; }
  #subnav li.active a,
  #subnav span {
    color: rgba(0, 0, 0, 0.4); }
  #subnav form,
  #subnav em,
  #subnav span,
  #subnav a {
    display: inline-block;
    padding: 2px 16px; }
  #subnav em {
    font-style: normal; }
  #subnav a {
    color: #3794de;
    text-decoration: none; }
    #subnav a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: #000;
      text-decoration: underline; }
  #subnav li:first-child b a {
    color: #3794de;
    font-weight: normal;
    text-decoration: none; }
    #subnav li:first-child b a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: #000;
      text-decoration: underline; }
  #subnav b a {
    color: #000;
    text-decoration: underline; }
    #subnav b a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: rgba(0, 0, 0, 0.6);
      text-decoration: underline; }
  #subnav .action-button a {
    background: rgba(28, 134, 242, 0.05);
    font-size: 15px;
    margin-left: 16px;
    padding: 2px 16px;
    border-radius: $border-radius;
    border: 1px solid rgba(28, 134, 242, 0.5); }
    #subnav .action-button a:hover {
      background: #1c86f2;
      border-color: #1c86f2;
      color: #fff;
      text-decoration: none; }
  #subnav form {
    margin: 0; }
    #subnav form button {
      font-size: 15px;
      line-height: 24px;
      color: #3794de;
      height: auto;
      padding: 0;
      background: none;
      box-shadow: none;
      vertical-align: baseline; }
      #subnav form button:hover {
        -moz-transition: all linear 0.2s;
        transition: all linear 0.2s;
        color: #000;
        text-decoration: underline; }
