{% extends "base.njk" %} {% set pageTitle = "Internationalization" %} {% set urlHeader = "internationalization" %} {% block content %}

<div class="grid w-840">

    <h1>Internationalization</h1>


</div>

{% endblock %}