{% extends "base.njk" %} {% set pageTitle = "Internationalization" %} {% set urlHeader = "internationalization" %} {% block
content %}


<div class="grid w-840">

    <div class="row">
        <div class="column-12">

            <div class="nav-menu">
                <h3>
                    <a href="/internationalization/index.html">Internationalization</a>
                </h3>
            </div>

            <p>
                Typography is the art and technique of arranging type to make written language legible, readable, and appealing when displayed.
                The arrangement of type involves selecting typefaces, point sizes, line lengths, line-spacing (leading)
            </p>

        </div>
    </div>


    <div class="row">


    </div>





</div>


{% endblock %}