div.box {
    border-radius: $border-radius;
    border: 1px solid $boxcolor4;
    * {
        cursor: default;
    }
    &>.header {
        background-color: $boxcolor1;
        background-image: linear-gradient($boxcolor3, $boxcolor1);
        padding: 7px 5px; 
        // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes
        // https://css-tricks.com/snippets/css/a-guide-to-flexbox/
        display: flex;
        >.item {
            align-items: center;
            display: flex;
            &.right {
                cursor: pointer;
                margin-left: auto;
            }
        }
        &>i {
            cursor: inherit;
            margin-left: 0;
            margin-right: 0;
            opacity: 1;
            &.right {
                // border: 1px solid red;
                position: relative;
                top: 3px;
            }
        }
        &.padding-3 {
            padding: 3px 5px;
        }
        &.padding-2 {
            padding: 2px 5px;
        }
        &.motion {
            cursor: move;
        }
    }
    &>.body {
        background-color: $boxcolor5;
        border-radius: $border-radius-bottom;
        border-top: 1px solid $boxcolor0;
        height: auto;
        overflow: hidden;
        padding: 10px;
        &.padding-0 {
            padding: 0;
        }
        &.padding-3 {
            padding: 3px;
        }
        &.padding-5 {
            padding: 5px;
        }
        &.padding-7 {
            padding: 7px;
        }
    }
    &>.footer {
        background-color: $boxcolor2;
        border-radius: $border-radius-bottom;
        border-top: 1px solid $boxcolor0;
        height: auto;
        overflow: hidden;
        padding: 10px;
        &.padding-0 {
            padding: 0;
        }
        &>p {
            margin: 0;
        }
    }
}