div.box {
    border-radius: $border-radius;
    border: 1px solid $boxcolor4;
    * {
        cursor: default;
    }
    &>.header {
        background-color: $boxcolor1;
        background-image: linear-gradient($boxcolor3, $boxcolor1);
        padding: 6px 7px; 
        display: flex;
        >.item {
            align-items: center;
            display: flex;
            margin-right: 5px;
            &>i{
                margin: 0px;
            }
            &.right {
                margin-left: auto;
                margin-right: 0px;
                &>i {
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                        transition: all linear 0.2s;
                    }
                }
            }
        }
    }
    &>.body {
        background-color: $boxcolor5;
        border-radius: $border-radius-bottom;
        border-top: 1px solid $boxcolor0;
        height: auto;
        overflow: hidden;
        padding: 10px;
    }
    &>.footer {
        background-color: $boxcolor2;
        border-radius: $border-radius-bottom;
        border-top: 1px solid $boxcolor0;
        height: auto;
        overflow: hidden;
        padding: 10px;
        &.padding-0 {
            padding: 0;
        }
        &>p {
            margin: 0;
        }
    }
}