.collapse {
    border-radius: $border-radius;
    >.first {
        border-radius: $border-radius-first;
    }
    >.last {
        border-radius: $border-radius-last;
    }
    >.header {
        display: flex;
        border: 1px solid $boxcolor4;
        box-sizing: border-box;
        font-size: $header-font-size;
        background-color: $boxcolor1;
        background-image: linear-gradient($boxcolor3, $boxcolor1);
        padding: $header-padding;
        margin-top: 2px;
        cursor: pointer;
        &:hover {
            >.item {
                &>i {
                    opacity: .88;
                }
            }
        }
        >.item {
            align-items: center;
            display: flex;
            margin-right: 5px;
            &>strong {
                font-size: $font-size + 1px;
            }
            &>i {
                margin: 0px;
            }
            &.right {
                margin-left: auto;
                margin-right: 0px;
                &>i {
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                        transition: all linear 0.2s;
                    }
                }
            }
        }
    }
    >.body {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: none;
        margin-bottom: 2px;
        padding: 18px 25px;
        @include breakpoint(medium) {
            &.responsive {
                padding: 20px 0 0 0 !important;
            }
        }
    }
    &.collapse-toggle.selected {
        color: #599bcd !important;
    }
}

// .collapse h4 {
//     margin-top: 1px !important;
//     background: #f4f4f4;
//     padding: $header-padding; // padding: 8px 16px;
//     margin-bottom: 1px;
//     font-size: 16px;
//     line-height: 24px;
// }
// .collapse h4:first-child() {
//     border-radius: $border-radius-first;
// }
// .collapse h4:last-child() {
//     border-radius: $border-radius-last;
// }
// .collapse h4 a {
//     margin-top: 3px !important;
//     text-decoration: none;
//     color: #000;
//     display: block;
// }
// .collapse>div {
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     margin-bottom: 1px;
//     padding: 24px 32px 15px;
// }
// /*.collapse .collapse-toggle{
//     border: 1px dotted salmon;
// }*/
// .collapse .collapse-toggle.selected {
//     color: #599bcd !important;
// }