
dialog.dialog {
    border-radius: $border-radius;
    border: 1px solid $dialogcolor0;
    padding: 0;
    margin: auto;
    &.size-200 {
        width: 200px;
    }
    &.size-250 {
        width: 250px;
    }
    &.size-300 {
        width: 300px;
    }
    &.size-400 {
        width: 400px;
    }
    &.size-450 {
        width: 450px;
    }
    &.size-500 {
        width: 500px;
    }
    &.size-550 {
        width: 550px;
    }
    & > .header {
        background-color: $dialogcolor2;
        background-image: linear-gradient($dialogcolor3, $dialogcolor2);
        border-bottom: 1px solid $dialogcolor0;
        padding-top: 9px;
        padding-bottom: 5px;
        padding-right: 8px;
        padding-left: 8px;
        & > i {
            cursor: inherit;
            margin-left: 0;
            margin-right: 0;
            opacity: 1;
        }
    }
    & .body {
        height: auto;
        overflow: hidden;
        padding: 13px;
        cursor: default;
        &.padding-0 {
            padding: 0;
        }
    }
    & > .footer {
        background-color: $dialogcolor1;
        border-top: 1px solid $dialogcolor0;
        height: auto;
        overflow: hidden;
        padding: 5px;
        cursor: default;
    }
}