// https://github.com/foretagsplatsen/numbro



form{
    margin: 0px;
}



input,
input:focus,
textarea {
    height: 27px;
    width: 100%;
    font-size: $font-size;
    border: 1px solid #cccccc;
    padding: 3px 3px 3px 5px;
    margin: 0 0 11px 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
}


/* text */

input[type="text"] {
    margin: 0 0 11px 0;
}

input[type="text"].required,
input[type="password"].required,
{
    border: 1px solid firebrick;
    background-color: #FFD5D5;
}


/* text */


/* range */

input[type="range"] {
    margin: 5px 0 7px 0;
}


/* range */


/* checkbox */

input[type="checkbox"] {
    display: inline-block;
    width: 13px;
    margin: 0 3px 0 0;
    padding: 0;
    height: 14px;
}

span.checkbox {
    position: relative;
    top: -3px;
}


/* checkbox */

p[contenteditable="true"] {
    min-height: 27px;
    width: 100%;
    font-size: $font-size - 1px;
    border: 1px solid #cccccc;
    padding: 3px 3px 3px 5px;
    margin: 0 0 11px 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
}

label {
    display: block;
    text-align: left;
    margin: 0 0 5px 0;
}