div.modal {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $border-radius;
    border: 1px solid $dialogcolor0;
    padding: 0;
    margin: auto; // z-index: 3;
    background-color: white;
    &>.header {
        background-color: $boxcolor1;
        background-image: linear-gradient($boxcolor3, $boxcolor1);
        padding: $header-padding;
        font-size: $header-font-size;
        display: flex;
        >.item {
            align-items: center;
            display: flex;
            &.right {
                margin-left: auto;
                &>i {
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                        transition: all linear 0.2s;
                    }
                }
            }
        }
    }
    & .body {
        height: auto;
        overflow: hidden;
        padding: 13px;
        cursor: default;
        &.padding-0 {
            padding: 0;
        }
    }
    &>.footer {
        background-color: $dialogcolor1;
        border-top: 1px solid $dialogcolor0;
        height: auto;
        overflow: hidden;
        padding: 9px;
        cursor: default;
    }
    &.w-200 {
        width: 200px;
    }
    &.w-300 {
        width: 300px;
    }
    &.w-400 {
        width: 400px;
    }
    &.w-450 {
        width: 450px;
    }
    &.w-500 {
        width: 500px;
    }
}

div.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.0980392); // z-index: 1;
}