


table.table-fit {
    border-collapse: collapse;
    width: 100%;
    thead {
        background-color: $tablecolor2;
        border-bottom: 1px solid $tablecolor1;
        text-align: center;
    }
    tbody{
        tr {
            td {
                padding: 5px 0;
            }
            &:hover {
                background-color: $tablecolor0;
                cursor: pointer !important;
            }
        }
    }
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
}